<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>啄木鸟风电维保系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script type="text/javascript" src="js/doTe.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="StyleSheet" href="css/dtree.css" type="text/css" />
    <script type="text/javascript" src="js/dtree.js"></script>

    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }
        .d_dtree-scroll {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: scroll;
        }
        .d_panel {
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-color: #e0e4e8;
        }
        .d_panel .heading {
            border-bottom: 1px solid #dddddd;
            padding: 10px 15px;
            color: #656565;
        }
        .d_panel .heading2 {
            border-bottom: 1px solid #dddddd;
            padding: 5px;
        }
        .d_panel .heading2 strong {
            padding-left: 10px;
        }

        .d_data_item {
            margin:5px 15px;
        }

        .d_data_item label {
            width: 60px;
            text-align:right;
        }
        .d_data_item div {
            border-radius: 4px;
            border: 1px solid #dddddd;
            display:inline-block;
            padding:5px 10px;
            margin:0px 5px;
            width:200px;
        }

        .d_table {
            width: 100%;
        }
        .d_table thead > tr > th {
            text-align: center;
            background-color: #f0f0f0;
        }
        .d_table > tbody > tr:nth-child(2n) > td {
            background-color: #f5f5f5;
        }
        .d_table thead > tr > th, .d_table tbody > tr > td{
            padding: 2px 4px;
            vertical-align: top;
        }

    </style> 
</head>
<body style="display: flex; flex-direction: row; align-items: stretch; padding:5px;">
    <section class="d_panel" style="width: 250px; margin: 10px; flex-shrink: 0;">
        <div class="d_dtree-scroll" style="padding:5px;">
            <div id="lefttree"></div>
        </div>
    </section>
    <div style="flex-grow: 1; margin: 5px;">
        <div style="height:100%;display: flex; flex-direction: column; align-items: stretch;">
            <section id="item_detail" class="d_panel" style="margin: 5px; flex-shrink: 0; ">
                <header class="heading">
                    节点信息-
                    <div style="float: right;">
                        <a href="#">编辑</a>
                    </div>
                </header>
                <div style="padding: 5px; display: flex; justify-content: flex-start; ">
                    <div class="d_data_item">
                        <label>名称</label>
                        <div>&nbsp;</div>
                    </div>
                    <div class="d_data_item">
                        <label>备注</label>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </section>
            <section class="d_panel" style="height:100px; flex-grow: 1; margin: 5px; display: flex; flex-direction: column; align-items: stretch;">
                <header class="heading" style="flex-grow: 0;">
                    下级列表-
                    <div style="float: right;">
                        <a href="#">导入</a>
                        <a href="#">添加</a>
                    </div>
                </header>
                <div id="item_list" style="padding: 5px; overflow-y: scroll; overflow-x: scroll; flex-grow: 1;">
                    <table class="d_table">
                        <thead><tr><th>编号</th><th>主要材料</th><th>出厂时间</th><th>挂机时间</th><th>生产厂家</th></tr></thead>
                        <tbody>
                            <tr><td>1234567890</td><td>主要材料是啥</td><td>2016-12-31</td><td>2017-12-31</td><td>京东风机厂</td></tr>
                            <tr><td>1234567890</td><td>主要材料是啥</td><td>2016-12-31</td><td>2017-12-31</td><td>京东风机厂</td></tr>
                            <tr><td>1234567890</td><td>主要材料是啥</td><td>2016-12-31</td><td>2017-12-31</td><td>京东风机厂</td></tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <script id="tpl_common_detail" type="text/template">
        <header class="heading">
            节点信息-{%=it.type%}
            <div style="float: right;">
                <a href="#">编辑</a>
            </div>
        </header>
        <div style="padding: 5px; display: flex; justify-content: flex-start; ">
            <div class="d_data_item">
                <label>名称</label>
                <div>{%=it.name%}</div>
            </div>
            <div class="d_data_item">
                <label>备注</label>
                <div>{%=it.remark%}</div>
            </div>
        </div>
    </script>

    <script id="tpl_common_list" type="text/template">
        <table class="table table-striped m-b-none text-small">
            <thead><tr><th>类型</th><th>名称</th><th>备注</th><th width="70"></th></tr></thead>
            <tbody>
                {% for (var i in it) { %}
                {% if (it[i].pId==pid ) { %}
                <tr>
                    <td>{%=it[i].type%}</td>
                    <td>{%=it[i].name%}</td>
                    <td>{%=it[i].remark%}</td>
                    <td>&nbsp;</td>
                </tr>
                {% } %}
                {% } %}
            </tbody>
        </table>
    </script>

    <script id="tpl_wind_detail" type="text/template">
        <header class="heading">
            节点信息-{%=it.type%}
            <div style="float: right;">
                <a href="#">编辑</a>
            </div>
        </header>
        <div style="padding: 5px; display: flex; justify-content: flex-start; flex-wrap: wrap;">
            <div class="d_data_item">
                <label>名称</label>
                <div>{%=it.name%}</div>
            </div>
            <div class="d_data_item">
                <label>上级单位</label>
                <div>{%=it.super%}</div>
            </div>
            <div class="d_data_item">
                <label>地址</label>
                <div style="width: 505px;">{%=it.addr%}</div>
            </div>
            <div class="d_data_item">
                <label>传真</label>
                <div>{%=it.fax%}</div>
            </div>
            <div class="d_data_item">
                <label>规模</label>
                <div>{%=it.scale%}</div>
            </div>
            <div class="d_data_item">
                <label>自然状况</label>
                <div style="width: 505px;">{%=it.natural%}</div>
            </div>
            <div class="d_data_item">
                <label>备注</label>
                <div style="width: 505px;">{%=it.remark%}</div>
            </div>
        </div>

    </script>

    <script id="tpl_wind_list" type="text/template">
        <table class="table table-striped m-b-none text-small">
            <thead><tr><th>类型</th><th>名称</th><th>上级单位</th><th>地址</th><th>规模</th><th>自然状况</th><th>传真</th><th>备注</th><th width="70"></th></tr></thead>
            <tbody>
                {% for (var i in it) { %}
                {% if (it[i].pId==pid ) { %}
                <tr>
                    <td>{%=it[i].type%}</td>
                    <td>{%=it[i].name%}</td>
                    <td>{%=it[i].super%}</td>
                    <td>{%=it[i].addr%}</td>
                    <td>{%=it[i].scale%}</td>
                    <td>{%=it[i].natural%}</td>
                    <td>{%=it[i].fax%}</td>
                    <td>{%=it[i].remark%}</td>
                    <td>&nbsp;</td>
                </tr>
                {% } %}
                {% } %}
            </tbody>
        </table>
    </script>
    <script id="tpl_efan_list" type="text/template">
        <div class="d_panel" style="margin: 5px; width: 490px; display: inline-block;">
            <header class="heading2" style="flex-grow: 0;">
                <img src="img/diy/3.png" />
                <strong>编号:</strong><span>1234567890</span>
                <strong>型号:</strong><span>AA-BB-CC</span>
                <strong>生产厂家:</strong><span>长安福特</span>
                <div style="float: right;">
                    <a href="#">编辑</a>
                </div>
            </header>
            <table class="d_table">
                <thead><tr><th>编号</th><th>主要材料</th><th>出厂时间</th><th>挂机时间</th><th>生产厂家</th></tr></thead>
                <tbody>
                    <tr>
                        <td>1234567890</td>
                        <td>主要材料是啥</td>
                        <td>2016-12-31</td>
                        <td>2017-12-31</td>
                        <td>京东风机厂</td>
                    </tr>
                    <tr>
                        <td>1234567890</td>
                        <td>主要材料是啥</td>
                        <td>2016-12-31</td>
                        <td>2017-12-31</td>
                        <td>京东风机厂</td>
                    </tr>
                    <tr>
                        <td>1234567890</td>
                        <td>主要材料是啥</td>
                        <td>2016-12-31</td>
                        <td>2017-12-31</td>
                        <td>京东风机厂</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/javascript">
		<!--
        var corp = [{ type: "企业", name: "京北狂风集团" },
		            { type: "企业", name: "内蒙飞沙走石风电公司" },
		            { type: "企业", name: "东北黑旋风风电" },
		            { type: "企业", name: "新疆大风起兮发电场" },
		          //  { type: "企业", name: "海上飓风滔天发电", },
		          //  { type: "企业", name: "龙卷风电力" }
                    ];
        var prov = [{ type: "省区", name: "北京市" },
					{ type: "省区", name: "新疆维吾尔自治区" },
					{ type: "省区", name: "黑龙江省" },
					{ type: "省区", name: "广西壮族自治区" }];
        var wind = [{ type: "风场", name: "十里画屏风场" },
				//	{ type: "风场", name: "官厅水库风场" },
				//	{ type: "风场", name: "十度风场" },
					{ type: "风场", name: "康西草原风场" },
					{ type: "风场", name: "八达岭风场" }];
        var area = [{ type: "区域", name: "青龙风区" },
                    { type: "区域", name: "白虎风区" },
                 //   { type: "区域", name: "朱雀风区" },
                    { type: "区域", name: "玄武风区" }];
        var efan = [{ type: "风机", name: "子鼠发电机" },
                    { type: "风机", name: "丑牛发电机" },
                    { type: "风机", name: "寅虎发电机" },
                    { type: "风机", name: "卯兔发电机" },
		            { type: "风机", name: "辰龙发电机" },
                    { type: "风机", name: "巳蛇发电机" },
                    { type: "风机", name: "午马发电机" },
                    { type: "风机", name: "未羊发电机" },
		            { type: "风机", name: "申猴发电机" },
                    { type: "风机", name: "酉鸡发电机" },
                    { type: "风机", name: "戌犬发电机" },
                    { type: "风机", name: "亥猪发电机" }];
        var leaf = [{ type: "叶片", name: "叶片甲" },
                    { type: "叶片", name: "叶片乙" },
                    { type: "叶片", name: "叶片丙" }];

        var zNodes = [];

        var icons = ["img/diy/1_open.png", "img/diy/2.png", "img/diy/3.png", "img/diy/4.png",
                    "img/diy/5.png", "img/diy/6.png", "img/diy/7.png", "img/diy/8.png"];

        var i = 0;
        zNodes.push({ id: i++, pId: -1, name: '风力发电企业', type:"根", remark: "风企风企", icon: icons[0] });
        for (var co in corp) {
            var c = i;
            zNodes.push({ id: i++, pId: 0, name: corp[co].name + i, type: "企业", remark: "corpcorp"+i, icon: icons[1] });
            for (var pr in prov) {
                var p = i;
                zNodes.push({ id: i++, pId: c, name: prov[pr].name + i, type: "省区", remark: "provprov" + i, icon: icons[2] });
                for (wi in wind) {
                    var w = i;
                    zNodes.push({ id: i++, pId: p, name: wind[wi].name + i, type: "风场", remark: "windwind" + i, icon: icons[3] });
                    for (ar = 0; ar < area.length; ar++) {
                        zNodes.push({ id: i++, pId: w, name: area[ar].name + i, type: "风区", remark: "areaarea" + i, icon: icons[4] });
                    }
                }
            }
        }

        console.log((new Date()).getTime());
        var tpl_common_detail = doT.template(document.getElementById('tpl_common_detail').innerHTML);
        var tpl_common_list = doT.template(document.getElementById('tpl_common_list').innerHTML);
        var tpl_wind_detail = doT.template(document.getElementById('tpl_wind_detail').innerHTML);
        var tpl_wind_list = doT.template(document.getElementById('tpl_wind_list').innerHTML);

		RefreshTree();
		function RefreshTree()
		{
		    d = new dTree('d');
		    for (x in zNodes)
		        d.add(zNodes[x].id, zNodes[x].pId, zNodes[x].name, 'javascript:clickitem(' + x + ',this)', "", "", zNodes[x].icon, zNodes[x].icon);

		    document.getElementById("lefttree").innerHTML = d;
        }

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/windertree", true);
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("docs").innerHTML = xmlhttp.responseText;
            }
        };
        xmlhttp.send();


		var pid = 0;
		function clickitem(i, t) {
		    //document.getElementById("item_detail").innerHTML = tpl_common_detail(zNodes[i]);
		    if (zNodes[i].type == "风场")
		        $("#item_detail").html(tpl_wind_detail(zNodes[i]));
		    else
    		    $("#item_detail").html(tpl_common_detail(zNodes[i]));
		    pid = zNodes[i].id;
		    if (zNodes[i].type == "省区")
		    {
		        $("#item_list").html(tpl_wind_list(zNodes));
		    }
		    else if (zNodes[i].type == "风区")
		    {
		        var txt = document.getElementById('tpl_efan_list').innerHTML;
		        txt = txt + txt + txt + txt + txt;
		        txt = txt + txt + txt + txt + txt;
		        $("#item_list").html(txt);

		    }
            else
		        $("#item_list").html(tpl_common_list(zNodes));
        };
        //-->

		//window.onresize = function () {
		//    height = document.body.clientHeight;
		//    width = document.body.clientWidth;
		//    alert("height:" + height + ";width:" + width);
		//};
    </script>
</body>
</html>