.lspeech, .rspeech {
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.lspeech {
    justify-content: flex-start;
    padding-right: 20px;
}

.rspeech {
    justify-content: flex-end;
    padding-left: 20px;
    text-align: right;
}

.lspeech > div, .rspeech > div {
    margin: 5px;
}

.lspeech > div > img, .rspeech > div > img {
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    width: 48px;
    height: 48px;
}
.lspeech > div > span {
    margin-right: 10px;
}

.lspeech > div > div, .rspeech > div > div {
    background-color: rgb(255, 253, 247);
    border: 1px solid rgba(252, 185, 8, 0.35);
    border-radius: 4px;
    position: relative;
    padding: 5px 10px;
}

.lspeech > div > div:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 6px;
    left: -6px;
    border-left: 0px;
    border-top: 6px solid transparent;
    border-right: 6px solid rgba(252, 185, 8, 0.35);
    border-bottom: 6px solid transparent;
}

.lspeech > div > div:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 7px;
    left: -5px;
    border-left: 0px;
    border-top: 5px solid transparent;
    border-right: 5px solid rgb(255, 253, 247);
    border-bottom: 5px solid transparent;
}

.rspeech > div > div:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 6px;
    right: -6px;
    border-left: 6px solid rgba(252, 185, 8, 0.35);
    border-top: 6px solid transparent;
    border-right: 0px;
    border-bottom: 6px solid transparent;
}

.rspeech > div > div:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 7px;
    right: -5px;
    border-left: 5px solid rgb(255, 253, 247);
    border-top: 5px solid transparent;
    border-right: 0px;
    border-bottom: 5px solid transparent;
}