<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>啄木鸟</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/frmstyle5.css">
    <script type="text/javascript" src="js/doTe.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/db.js"></script>
    <script src="js/xpecker.js"></script>
    <script type="text/javascript">
        function navto(url) {
            $('#modulelist').children().removeClass("active");
            $('#submodulelist').children().removeClass("active");
            $('#mainframe').attr('src', url);
        }
    </script>
    <style>
        #submodulelist > li > a {
            position: relative;
            display: block;
            padding: 5px 15px;
            font-size: 14px;
        }
        .d_rAngle {
            border-radius: 4px;
            border: 1px solid #dddddd;
            border-color: #e0e4e8;
            padding: 4px 10px;
            margin: 10px 30px 5px;
        }
    </style>
</head>
<body class="xFc_scol">
    <header class="xFi_fixed xNavbar">
        <a class="xNavbar-Brand" href="javascript:navto('system.html')">啄木鸟</a>
        <ul id="modulelist" class="nav navbar-nav" style="margin-left: 10px; font-size: 16px; "></ul>
        <ul id="submodulelist" class="nav navbar-nav" style="margin-top: 20px; margin-left: 200px; font-size: 16px; "></ul>
        <ul class="nav navbar-nav navbar-avatar pull-right">
            <li style="margin-right:30px;">切换为：<select id="rolelist2" style="margin-top:10px;width:130px;" onchange="OnRoleChange();"></select></li>
            <li ><input class="d_rAngle" type="text" placeholder="搜索" /></li>
            <li><a href="#"><span class="badge bg-danger pull-right">3</span><img src="img/mail.jpg" style="height:32px;width:32px;"></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="usr_name" class="hidden-sm-only">曹操</span>
                    <span class="thumb-small avatar inline"><img id="usr_face" src="img/face/face0.jpg" alt="用户头像" class="img-circle"></span>
                    <b class="caret hidden-sm-only"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="usr_self" href="#">我的</a></li>
                    <li><a href="#">设置</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:navto('system.html')">系统</a></li>
                    <li><a href="javascript:navto('signout.html')">退出</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="xFi_grow" style="height:100px; background:#22baa0;">
        <iframe id="mainframe" style="border:0px; width:100%;height:100%;" src="coord.html"></iframe>
    </div>

<script id="tpl_module" type="text/template">
    {% for (var i = 0; i < it.length; i++) { %}
        <li {% if (i==0) { %} class="active" {% } %}>
            <a onclick="ClickModule(this,'{%=it[i].url%}')">{%=it[i].name %}</a>
        </li>
    {% } %}
</script>

    <script type="text/javascript">
        var tpl_module = doT.template(document.getElementById('tpl_module').innerHTML);
        document.getElementById("rolelist2").innerHTML = RenderSelect(db_job);

        Reqdata("/roleuser?account=" + GetParam("account"), function (res) {
            for (var i = 0; i < db_roles.length; i++)
                db_roles[i].user = FindSub(res.data, "job", db_roles[i].id);
            if (GetParam("account") != "") {
                var user = FindSub(res.data, "account", GetParam("account"));
                var role = FindSub(db_roles, "id",user.job);
                $("#rolelist2").val(user.job);
                OnRoleChange();
            }
        });

        function OnRoleChange() {
            var val = $('#rolelist2').val();
            var role = FindSub(db_roles, "id", $('#rolelist2').val());
            $('#modulelist').html(tpl_module(role.modules));
            UpdateSubmode(role, 0);
        }

        function ClickModule(This, url) {
            $(This).parent().parent().children().removeClass("active");
            $(This).parent().addClass("active");
            $('#mainframe').attr("src", url);

            if ("modulelist" == $(This).parent().parent().attr("id") )
            {
                var idx = $(This).parent().index();
                var role = FindSub(db_roles, "id", $('#rolelist2').val());
                UpdateSubmode(role, idx);
            }
        }
        function UpdateSubmode(role, idx) {
            if (role.modules[idx].usesub) {
                var submodule = new Array();
                for (var i in role.user.sub) {
                    var depart = role.user.sub[i];
                    submodule.push({
                        "name": depart.name, "url": role.modules[idx].url
                        + "?" + role.user.depart_name + "_id=" + depart.id
                        + "&user_id=" + role.user.id
                    });
                }
                $('#submodulelist').html(tpl_module(submodule));
            }
            else {
                $('#submodulelist').html("");
            }
        }

    </script>
</body>
</html>