<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>啄木鸟风电维保系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="js/doTe.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
</head>
<body class="xFCsrow">
    <section class="xPanel2 xFIfixed xScroll" style="width: 300px;padding:5px;">
        <div id="root" class="xTree"></div>
    </section>
    <div class="xFCscol" >
        <section class="xPanel2 xFIfixed">
            <header>节点信息<div style="float: right;"><a href="#">编辑</a></div></header>
            <div id="item_detail" style="padding:5px;"></div>
        </section>
        <section class="xPanel2">
            <header>下级列表<div style="float: right;"><a href="#">导入</a><a href="#">添加</a></div></header>
            <div class="xScroll" style="padding: 5px;height:100px;flex-grow: 1;"><div id="subitem_list"></div></div>
        </section>
    </div>

    <script id="tpl_efan_list" type="text/template">
        {% for (var i in it.data) { %}
        <div class="xPanel" style="margin: 5px; width: 485px; display: inline-block;">
            <header class="heading2" style="flex-grow: 0;">
                <img src="img/diy/3.png" />
                <strong>编号:</strong><span>{%=it.data[i].code%}</span>
                <strong>型号:</strong><span>{%=it.data[i].type%}</span>
                <strong>生产厂家:</strong><span>{%=it.data[i].efan_vender_id%}</span>
                <div style="float: right;">
                    <a href="#">编辑</a>
                </div>
            </header>
            <table class="d_table">
                <thead><tr><th>编号</th><th>主要材料</th><th>出厂时间</th><th>挂机时间</th><th>生产厂家</th></tr></thead>
                <tbody>
                    {% for (var j in it.addit) { %}
                    {% if (it.addit[j].efan_id==it.data[i].id) { %}
                    <tr>
                        <td>{%=it.addit[j].code%}</td>
                        <td>{%=it.addit[j].mat%}</td>
                        <td>{%=it.addit[j].producedate%}</td>
                        <td>{%=it.addit[j].putondate%}</td>
                        <td>{%=it.addit[j].leaf_vender_id%}</td>
                    </tr>
                    {% } %}
                    {% } %}
                </tbody>
            </table>
        </div>
        {% } %}
    </script>

    <script type="text/javascript">
        request("root");
        function request(tag) {
            var at = tag.split("_");
            var node = $("#" + tag);

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/sublist?id=" + at[1] + "&type=" + at[0], true);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    node.append(totreeitem(at[0], xmlhttp.responseText));
                    node.children("img").attr("src", "img/nolines_minus.gif");
                    $(".xTree div>img").unbind("click", itemexpand);
                    $(".xTree div>span").unbind("click", itemclick);
                    $(".xTree div>img").bind("click", itemexpand);
                    $(".xTree div>span").bind("click", itemclick);
                }
            };
            xmlhttp.send();
        }

        function totreeitem(type, rdata) {
            var treeimg = { "winderco": "img/diy/1_open.png", "winderprov": "img/folder.gif", "winder": "img/diy/3.png", "winderarea":"img/page.gif" }
            var subtype = { "root": "winderco", "winderco": "winderprov", "winderprov": "winder", "winder": "winderarea" }
            var type = subtype[type];
            var r = "";
            data = $.parseJSON(rdata);
            for (i in data) {
                if (type != "winderarea") {
                    t = "<div id=\"" + type + "_" + data[i].id + "\">"
                        + "<img src=\"img/nolines_plus.gif\"><span><img src=\""
                        + treeimg[type] + "\">" + data[i].name + "</span></div>"
                }
                else {
                    t = "<div><div id=\"" + type + "_" + data[i].id + "\"><span><img src=\""
                        + treeimg[type] + "\">" + data[i].name + "</span></div></div>"
                }
                r += t + "\n"
            }
            return r;
        }

        function itemexpand() {
            var siblings = $(this).siblings("div");
            if (siblings.length == 0) {
                id = $(this).parent().attr("id");
                request(id);
            }
            else if (siblings.css("display") == "none") {
                $(event.srcElement).attr("src", "img/nolines_minus.gif");
                siblings.css("display", "block");
            }
            else {
                $(event.srcElement).attr("src", "img/nolines_plus.gif");
                siblings.css("display", "none");
            }
        }
        function itemclick() {
            var at = $(this).parent().attr("id").split("_");
            Request("/itemdetail?id=" + at[1] + "&type=" + at[0], function (d) {
                var text = RenderForm2(d, 0);
                $("#item_detail").html(text);
            });
            if ( at[0]!="winderarea"){
                Request("/sublistdetail?id=" + at[1] + "&type=" + at[0], function (d) {
                var text = RenderTable2(d, 0);
                $("#subitem_list").html(text);
                });
            }
            else {
                Request("/sublistdetail?id=" + at[1] + "&type=" + at[0], Renderefan);
            }
        }

        function Request(url, fun) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url, true);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                {
                    var jdata = $.parseJSON(xmlhttp.responseText);
                    fun(jdata);
                }
            };
            xmlhttp.send();
        }

        function Renderefan(d) {
            var tpl_efan_list = doT.template(document.getElementById('tpl_efan_list').innerHTML);
            $("#subitem_list").html(tpl_efan_list(d));
        }
    </script>
</body>
</html>