<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>啄木鸟风电维保系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/doTe.js"></script>
    <script src="js/utils.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/Cube.js"></script>
    <script src="js/db.js"></script>
    <script src="js/xpecker.js"></script>

    <script src="laydate/laydate.js"></script>
    <style>/*为了解决BootStrap中css和layDate的css样式冲突*/
        .laydate_box, .laydate_box * {box-sizing: content-box;}
        .laydate_box th {text-align: center;}
    </style>

    <style>
        .card {
            display: inline-block;
            margin: 10px;
            width: 230px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            border-radius: 5px;
        }
        .card .header {
            border-radius: 5px 5px 0px 0px;
            background-color: #98bf68;
            color: white;
            font-size: 10px;
            height: 42px;
            text-align: center;
            overflow: hidden;
        }
        .card .header .type {
            border-radius: 5px 0px 5px 0px;
            color: white;
            font-size: 12px;
            float: left;
            border: 1px solid #6a923d;
        }
        .card .header .title {
            color: white;
            padding-top: 8px;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }
        .card .header .sent {
            padding-top: 15px;
            padding-right: 4px;
            text-align: right;
            font-size: 12px;
            float: right;
        }
        .card .header .sent .time {
            padding: 0px 2px;
            top: -4px;
            left: 5px;
            text-align: right;
            position: relative;
        }
        .card .body {
            background-color: #f5f3ee;
            color: #5f5135;
            padding: 4px;
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #6a923d;
            border-bottom: 1px solid #e0d5c5;
            border-radius: 0px 0px 5px 5px;
        }
        .card button {
            background: linear-gradient(#d2e7b9, #6fa743);
            border: 1px solid #cfc4b6;
            color: white;
            padding: 4px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 6px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
        }

        .card table {width: 100%;table-layout: fixed;}
        .card table tr:nth-child(2n+1) {background-color: #ffffee;}
        .card table tr:nth-child(2n) {background-color: #eeffee;}
       /* .card table tr:first-child {width: 200px;text-align: left;}*/
        .card table td, .card table th {white-space: nowrap;overflow: hidden;word-break: keep-all;}

        .xTable input, .xTable select {
            border: 0px;
        }
    </style>

    <!--link rel="stylesheet/less" type="text/css" href="css/matin.less" />
    <script src="js/less.js" type="text/javascript"></script-->
</head>
<body class="xFCsrow">
    <div id="curitem" class="xFCscol xFIfixed" style="width: 300px;">
        <section class="xPanel2">
            <header>正在编辑<div style="float: right;"><a id="btn_new" href="javascript:onNewMatin()">新建</a></div></header>
            <div id="g_matins_editing" class="xScroll" style="padding: 5px;height:100px;flex-grow: 1;"></div>
        </section>
        <section class="xPanel2">
            <header>等待审批</header>
            <div id="g_matins_checking" class="xScroll" style="padding:5px;height:100px;flex-grow: 1;"></div>
        </section>
    </div>
    <section class="xPanel2">
        <header>入库单</header>
        <div class="matin xScroll" style="padding: 5px;height:100px;flex-grow: 1;">
            <header class="xFCsrow">
                <div id="sect_creater" class="xFIfixed x2Form" style="width:300px;margin-top:50px;">
                    <div><label>制单人</label><div id="creater">　</div></div><div><label>制单时间</label><div id="createrdt">　</div></div>
                </div>
                <div style="text-align:center;">
                    <div id="source" ><select style="font-size:36px;margin-top:20px;height:58px; min-width:170px;margin-left:50px;">入库单</select></div>
                    <div id="sect_code" class="x2Form" ><div><label>单号</label><input id="code"/></div></div>
                </div>
                <div id="sect_courier" class="xFIfixed x2Form" style="width:300px;margin-top:50px;">
                    <div><label>送货人</label><input id="courier" /></div><div><label>到货时间</label><input id="courierdate" onclick="laydate()"/>　</div>
                </div>
            </header>
            <div id="recs_table" style="margin:20px;">
                <table class="xTable">
                    <thead><tr><th>编号</th><th>材料名称</th><th>类型</th><th>计量单位</th><th>数量</th><th>规格</th><th>生产厂家</th><th>生产日期</th><th>失效日期</th><th>备注</th></tr></thead>
                    <tbody>
                        <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td>0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
            <footer class="xFCsrow" sstyle="margin-top:20px;">
                <div id="sect_checker" class="xFIfixed x2Form" style="width:600px;">
                    <div><label>备注</label><input id="remark" style="width:490px;"/></div>
                    <div><label>审核人</label><div id="checker">　</div></div><div><label>审核时间</label><div id="checkdt">　</div></div>
                </div>
                <div></div>
                <div id="sect_inwh" class="xFIfixed x2Form" style="width:300px;">
                    <div><label>入库人</label><div id="inwh">　</div></div><div><label>入库时间</label><div id="inwhdt">　</div></div>
                </div>
            </footer>
            <div class="buttonarray" style="margin-top:20px;margin-right:20px;border-top:2px dashed #6a923d;padding-top:30px;">
                <button id="btn_remove" type="button" class="btn btn-primary">删除</button>
                <button id="btn_recall" type="button" class="btn btn-primary">撤回</button>
                <div style="float: right;">
                    <div id="sect_flow" class="x2Form" style="display:inline-block;">
                        <div><label>意见</label><input id="log" style="width:400px;"/></div>
                    </div>
                    <button id="btn_save" type="button" class="btn btn-primary">保存</button>
                    <button id="btn_submit" type="button" class="btn btn-primary">提交</button>
                    <button id="btn_checkT" type="button" class="btn btn-primary">审核通过</button>
                    <button id="btn_checkF" type="button" class="btn btn-primary">审核不通过</button>
                    <button id="btn_inwhT" type="button" class="btn btn-primary">入库</button>
                    <button id="btn_inwhF" type="button" class="btn btn-primary">入库不成功</button>
                </div>
            </div>
            <div id="sect_flowlist" style="margin-top:50px;"></div>
        </div>
    </section>
    <section class="xPanel2 xFIfixed" style="width: 300px;">
        <header>等待入库</header>
        <div id="g_matins_whin" class="xScroll" style="padding: 5px;height:100px;flex-grow: 1;"></div>
    </section>

    <script id="tpl_matin_card" type="text/template">
        {% for (var i=0,x=it[0];i<it.length;i++,x=it[i]) { %}
        <div id={%=x.id%} class="card" onclick="onclickcard(this)">
            <div class="header">
                <div class="type">{%=x.type%}</div>
                <div class="sent">
                    <div>{%=x.courier%}</div>
                    <div class="time">{%=f2s(x,"courierdate")%}</div>
                </div>
                <div class="title">{%=f2s(x,"source")%}</div>
            </div>
            <div class="body">
                <table cellpadding="2px">
                    {% for (var j=0,y=x.subs[0];j<x.subs.length && y.mat_id>0;j++,y=x.subs[j]) { %}
                    <tr><td style="width: 140px; text-align: left;">{%=f2s(y,"mat_id")%}</td><td>{%=y.num%}</td><td>{%=f2s(y,"unit")%}</td></tr>
                    {% } %}
                </table>
            </div>
        </div>
        {% } %}
    </script>

    <script type="text/javascript">
        var g_user = parent.g_user, g_mats, g_users = [], g_clerks, g_guides, g_matin, g_matins, g_matvenders,
            g_matins_editing = new Array(), g_matins_checking = new Array(), g_matins_whin = new Array();
        if (g_user == undefined)
            g_user = GetRoleUser("仓库主管");

        var g_recfields = [{ name: "code", title: "编号", ftype: "div", width: "90px" }, { name: "name", title: "材料名称", ftype: "select", width: "120px" },
        { name: "type", title: "类型", ftype: "div", width: "80px" }, { name: "unit", title: "计量单位", ftype: "div", width: "40px" },
        { name: "num", title: "数量", ftype: "input", width: "40px" }, { name: "specs", title: "规格", ftype: "input", width: "60px" },
        { name: "vender_id", title: "生产厂家", ftype: "select", width: "80px" }, { name: "producedt", title: "生产日期", ftype: "date", width: "80px" },
        { name: "expiredt", title: "失效日期", ftype: "date", width: "80px" }, { name: "remark", title: "备注", ftype: "input", width: "300px" }];


        ReqdataS("/rd?ls=mat", "", function (mats) {g_mats = mats;});
        Reqdata("/rd?ls=vender&type=" + GetSub(db_tbl, "name", "mat").id, "", function (res) { g_matvenders = res; });
        Reqdata("/rduser?depart_table=" + GetSub(db_tbl, "name", "matwh").id + "&depart_id=" + g_user.depart.id, "", function (res2) {
            g_clerks = res2;
            g_users = g_users.concat(res2.data);
        });
        Reqdata("/rduser?job=" + GetSub(db_job, "name", "调度").id, "", function (res2) {
            g_guides = res2;
            g_users = g_users.concat(res2.data);
        });
        // 查询所有的入库单
        Reqdata("/rdmatins?user_id=" + g_user.id, "", function (matins) {
            g_matins = matins;
            for (var i in matins.mdata) {
                // 添加到主表的子记录中
                var mdata = matins.mdata[i];
                mdata.subs = new Array();
                mdata.type = "入库单";
                for (var j in matins.rdata) {
                    if (mdata.id == matins.rdata[j].matin_id)
                        mdata.subs.push(matins.rdata[j]);
                }

                //分类
                if (mdata.status == 0 || mdata.status == -1) g_matins_editing.push(mdata);
                else if (mdata.status == 1) g_matins_checking.push(mdata);
                else if (mdata.status == 2) g_matins_whin.push(mdata);
            }
            // 将子项不够10个的创建够
            g_matins_editing.map(x => x.subs = x.subs.concat(Array(10 - x.subs.length).fill(0).map(v => Create(g_matins.rfields))));

            var tpl_matin_card = doT.template(document.getElementById('tpl_matin_card').innerHTML);
            $("#g_matins_editing").html(tpl_matin_card(g_matins_editing));
            $("#g_matins_checking").html(tpl_matin_card(g_matins_checking));
            $("#g_matins_whin").html(tpl_matin_card(g_matins_whin));
        });

        function onclickcard(This) {
            g_matin = GetSub(g_matins.mdata, "id", $(This).attr("id"));
            RenderMatinDetail(g_matin);
        }
        function onNewMatin(This) {
            g_matin = Create(g_matins.mfields);
            g_matin.id = 0;
            g_matin.status = 0;
            g_matin.subs = Array(10).fill(0).map(v => Create(g_matins.rfields));
            RenderMatinDetail(g_matin);
        }

        function RenderMatinDetail(matin) {
            if (matin.status == 0 || matin.status == -1) { // 编辑状态
                var source='<select style="font-size:36px;margin-top:20px;height:58px; min-width:170px;margin-left:50px;">{0}</select>'
                $("#source").html(source.format(RenderSelect(db_matsouce, matin.source)));

                $("#sect_code").html(RenderFormIn(matin, [GetSub(g_matins.mfields, "name", "code")]));
                $("#sect_courier").html(RenderFormIn(matin, [GetSub(g_matins.mfields, "name", "courier"), GetSub(g_matins.mfields, "name", "courierdate")]));
                $("#recs_table").html(MatinRenderTable(matin.subs));

                var remark = '<label>备注</label><input id="remark" style="width:490px;" value="{0}"/>'
                $("#remark").parent().html(remark.format(matin.remark));

                // 清除空白行的组合框自动选中
                $('select[name="name"],select[name="vender_id"]').each((idx, node, node2) => {
                    var row = $(node).parent().parent().attr('id').split("_")[1];
                    if (matin.subs[row].mat_id == "")
                        node.selectedIndex = -1;
                });
                $("select").on("change", function () {
                    var id = $(this).val();
                    var mat = GetSub(g_mats.data, "id", $(this).val());
                    var prt = $(this).parent();
                    prt.prev().children().html(mat.code);
                    prt.next().children().html(mat.type);
                    prt.next().next().children().html(mat.unit);
                });
            }
            else { //只读状态
                var source = '<div style="font-size:36px;margin-top:20px;height:58px; min-width:170px;margin-left:50px;">{0}</div>'
                $("#source").html(source.format(f2s(matin, "source")));

                $("#sect_code").html(RenderPaneIn(matin, [GetSub(g_matins.mfields, "name", "code")]));
                $("#sect_courier").html(RenderPaneIn(matin, [GetSub(g_matins.mfields, "name", "courier"), GetSub(g_matins.mfields, "name", "courierdate")]));
                $("#recs_table").html(RenderTable2({ fields: g_recfields, data: matin.subs }, "", f2sRec));

                var remark = '<label>备注</label><div id="remark" style="width:490px;" >{0}</div>'
                $("#remark").parent().html(remark.format(matin.remark ));
            }
            // 流水
            Reqdata("/rd?ls=flow&table_id=" + GetTbl("matin").id + "&record_id=" + matin.id, "", function (flows) {
                ["checker", "checkdt", "inwh", "inwhdt"].map(x => $("#" + x).html("　"));
                if (matin.id == 0) flows.data.push({ status: 0, user_id: g_user.id, date: (new Date()).format("yyyy-M-d"), remark: "新建入库单" });
                var loglist = "";
                for (var x = flows.data[0], k = 0; k < flows.data.length; k++ , x = flows.data[k]) {
                    if (x.status == 0) { $("#creater").html(f2s(x, "user_id")); $("#createrdt").html(f2s(x, "date")); }
                    else if (x.status == 1) { $("#checker").html(f2s(x, "user_id")); $("#checkdt").html(f2s(x, "date")); }
                    else if (x.status == 2) { $("#inwh").html(f2s(x, "user_id")); $("#inwhdt").html(f2s(x, "date")); }
                    loglist += "<div>" + x.date + " " + f2s(x, "user_id") + " " + x.remark + "</div>";
                }
                $("#sect_flowlist").html(loglist);
            });
                // 按钮控制 
                // 单据状态	删除   撤回    保存	提交   审核T   审核F  入库T	入库F
                //          remove recall save	submit checkT checkF inwhT	inwhF
                // 退回 -1	s	   h      s     s      h      h      h      h
                // 编辑 0	s	   h      s     s      h      h      h      h
                // 提交 1	h	   s      h     h      h      h      h      h
                // 审核T 2	h	   h      h     h      h      h      s      s

            var btnarray=[ "remove", "recall", "save", "submit", "checkT", "checkF", "inwhT", "inwhF"];
            var btnstatus=[{ "remove": "s", "recall": "h", "save": "s", "submit": "s", "checkT": "h", "checkF": "h", "inwhT": "h", "inwhF": "h", },
                { "remove": "s", "recall": "h", "save": "s", "submit": "s", "checkT": "h", "checkF": "h", "inwhT": "h", "inwhF": "h", },
                { "remove": "h", "recall": "s", "save": "h", "submit": "h", "checkT": "h", "checkF": "h", "inwhT": "h", "inwhF": "h", },
                { "remove": "h", "recall": "h", "save": "h", "submit": "h", "checkT": "h", "checkF": "h", "inwhT": "s", "inwhF": "s", }];
            var status = btnstatus[parseInt(g_matin.status) + 1];
            btnarray.map(val => status[val] == "s" ? $("#btn_" + val).show() : $("#btn_" + val).hide());
            if (g_matin.status == 1 && g_user.job == GetSub(db_job, "name", "仓库主管").id) {
                $("#btn_checkT").show();$("#btn_checkF").show();
            }
        }

        function RenderPaneIn(data, fields ) {
            var r = "";
            for (var i = 0, field = fields[0]; i < fields.length; i++, field=fields[i]) {
                var attr = "";
                if (field.name.indexOf("_") != -1)
                    attr = 'id="' + field.name + "_" + val + '" ';

                if (field.ftype == "input_long")
                    attr += 'style="width:490px;"';
                else if (field.ftype == "textarea")
                    attr += 'style="overflow-y: scroll;width:490px;max-height:45px;"';

                r += "<div><label>" + field.title + "</label><div " + attr + ">" + data[field.name] + "</div></div>";
            }
            return r;
        }

        function f2s(data, field) {
            if (field == "user_id") return GetSub(g_users, "id", data[field]).name;
            else if (field == "source") return GetSub(db_matsouce, "id", data[field]).name;
            else if (field == "courierdate") return data[field].substr(5, 11);
            else if (field == "mat_id") return GetSub(g_mats.data, "id", data[field]).name;
            else if (field == "unit") return GetSub(g_mats.data, "id", data["mat_id"]).unit;
            else return data[field];
        }

        function f2sRec(data, field) {
            if (field.name == "code") return GetSub(g_mats.data, "id", data["mat_id"]).code;
            else if (field.name == "name") return GetSub(g_mats.data, "id", data["mat_id"]).name;
            else if (field.name == "type") return GetSub(g_mats.data, "id", data["mat_id"]).type;
            else if (field.name == "unit") return GetSub(g_mats.data, "id", data["mat_id"]).unit;
            else if (field.name == "vender_id") return GetSub(g_matvenders.data, "id", data["vender_id"]).name;
            else return data[field.name];
        }

        function MatinRenderTable(subs) {
            var table = `<table class="xTable"><thead><tr><th>`;
            table += g_recfields.map(val=>val.title).join("</th><th>");
            table += "</th></tr></thead><tbody>";
            
            for (var i = 0, rec = subs[0]; i < subs.length; i++ , rec = subs[i]){
                var mat = GetSub(g_mats.data, "id", rec["mat_id"]);
                if (mat == null) mat = Create(g_mats.fields);// 新建时，还没有指定是哪种材料
                table += '<tr id="sub_'+i+'">';
                for (var j = 0, field = g_recfields[0]; j < g_recfields.length; j++ , field = g_recfields[j]){
                    var attr = 'name="'+field.name +'"'+( field.width ?' style="width:' + field.width + '"' : "");
                    table += "<td " + /*style+*/">" + RenderFormItem(field.ftype, attr, function (field, mat, rec) {
                        if (field.name == "code") return mat.code;
                        else if (field.name == "name") return RenderSelect2(g_mats, mat.id);
                        else if (field.name == "type") return mat.type;
                        else if (field.name == "unit") return mat.unit;
                        else if (field.name == "num") return rec.num;
                        else if (field.name == "specs") return rec.specs;
                        else if (field.name == "vender_id") return RenderSelect2(g_matvenders, rec.vender_id);
                        else if (field.name == "producedt") return rec.producedt;
                        else if (field.name == "expiredt") return rec.expiredt;
                        else if (field.name == "remark") return mat.remark;
                    }(field, mat, rec));
                    table += "</td>";
                }
                table += "</tr>";
            }
            table += "</tbody></table>";
            return table;
        }

        // 表单验证的几种方法： http://www.jb51.net/article/92741.htm
    </script>
</body>
</html>

