<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 标签页（Tab）插件</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/doTe.js"></script>
    <link rel="stylesheet" href="css/card.css">
    <!--link rel="stylesheet/less" type="text/css" href="css/styles.less" />
    <script src="js/less.js" type="text/javascript"></script-->
    <style>
        html, body {height: 100%;overflow: hidden;}
        .xrAngle {border-radius: 4px;border: 1px solid #dddddd;}
        .xScroll {overflow-y: scroll;overflow-x: scroll;}
        .xFullScroll {width: 100%;height: 100%;overflow-y: scroll;overflow-x: scroll;}
        .xPanel {border-radius: 4px;border: 1px solid #dddddd;margin:10px; height:300px;}
        .xPanel .xLHead {width: 28px;height: 100%;padding: 6px;background: #f5f5f5;border-right: 1px solid #dddddd;}
        .xFc_srow {display: flex;flex-direction: row;align-items: stretch;align-content: stretch;}
        .xFc_scol {display: flex;flex-direction: column;align-items: stretch;align-content: stretch;}
        .xFi_fixed{flex-shrink: 0;flex-grow: 0;}
        .xFi_grow {flex-grow: 1;}

        .card {
            display: inline-block;
            margin: 10px;
            width: 230px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            border-radius: 5px;
        }
        .card .header {
            border-radius: 5px 5px 0px 0px;
            background-color: #98bf68;
            color: white;
            font-size: 10px;
            height: 42px;
            text-align: center;
            overflow: hidden;
        }
        .card .header .type {
            border-radius: 5px 0px 5px 0px;
            color: white;
            font-size: 12px;
            float: left;
            border: 1px solid #6a923d;
        }
        .card .header .title {
            color: white;
            padding-top: 8px;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }
        .card .header .sent {
            padding-top: 15px;
            padding-right: 4px;
            text-align: right;
            font-size: 12px;
            float: right;
        }
        .card .header .sent .time {
            padding: 0px 2px;
            top: -4px;
            left: 5px;
            text-align: right;
            position: relative;
        }
        .card .body {
                background-color: #f5f3ee;
                color: #5f5135;
                padding: 4px;
                font-size: 14px;
                text-align: center;
                border-top: 1px solid #6a923d;
                border-bottom: 1px solid #e0d5c5;
            }
        .card .foot {
            background-color: #f0ece2;
            border-radius: 0px 0px 5px 5px;
            height: 45px;
        }
        .card button {
            background: linear-gradient(#d2e7b9, #6fa743);
            border: 1px solid #cfc4b6;
            color: white;
            padding: 4px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 6px;
            cursor: pointer;
            border-radius: 6px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
        }

        .card table {width: 100%;table-layout: fixed;}
        .card table tr:nth-child(2n+1) {background-color: #ffffee;}
        .card table tr:nth-child(2n) {background-color: #eeffee;}
       /* .card table tr:first-child {width: 200px;text-align: left;}*/
        .card table td, .card table th {white-space: nowrap;overflow: hidden;word-break: keep-all;}

    </style>
    </head>
<body>
    <div class="xPanel xFc_srow" ><div class="xLHead xFi_fixed">等待备货</div><div class="xFi_grow xScroll" id="wait_prep"></div></div>
    <div class="xPanel xFc_srow" ><div class="xLHead xFi_fixed">等待审批</div><div class="xFi_grow xScroll" id="wait_check"></div></div>
    <div class="xPanel xFc_srow" ><div class="xLHead xFi_fixed">等待发货</div><div class="xFi_grow xScroll" id="wait_send" ></div></div>


<script id="tpl_matout" type="text/template">
    {% for (var i = x.m; i < x.m+6; i++) { %}
    <div class="card">
        <div class="header">
            <div class="type">{%=x.type%}</div>
            <div class="sent"><div>{%=matout[i].reqperson%}</div>
            <div class="time">{%=matout[i].reqdt%}</div></div>
            <div class="title">{%=matout[i].usage%}</div>
        </div>
        <div class="body">
            <table cellpadding="2px">
                {% for (var j = 0;  j < 6; j++,x.n++) { %}
                <tr><td style="width: 140px; text-align: left;">{%=matout_rec[x.n].name%}</td><td>{%=matout_rec[x.n].count%}</td><td>{%=matout_rec[x.n].unit%}</td></tr>
                {% } %}
            </table>
        </div>
        <div class="foot">
            <button id="{%=x.btnid%}" data-toggle="modal" data-id="{%=i%}" data-backdrop="static" data-target="#myModal">
                {%=x.btntext%}
            </button>
        </div>
    </div>
    {% } %}
</script>

<script type="text/javascript">
    var matout = [
{ "code": "200210430007 ", "case": "200306011097 ", "status": "等待备货", "topart": "合肥百货大楼 ", "toperson": "严芷容", "toaddr": "合肥市长江中路150号", "usage": "幕墙", "remark": "民为贵，社稷次之，君为轻。（孟子尽心上）", "reqperson": "劳思寒", "reqdt": "1989-05-29", "prepperson": "方天菱", "prepdt": "1993-11-18", "checkperson": "计翎妍", "checkdt": "1979-12-22", "sendperson": "齐任安", "senddt": "1979-12-22" },
{ "code": "200301011001 ", "case": "200306031016 ", "status": "正在备货", "topart": "鼓楼名品中心 ", "toperson": "余博容", "toaddr": "合肥市宿州路96号", "usage": "刷漆", "remark": "穷则独善其身，达则兼济天下。（孟子尽心上）", "reqperson": "魏苑", "reqdt": "1989-02-21", "prepperson": "王丹烟", "prepdt": "1986-11-13", "checkperson": "阎乐晨", "checkdt": "1973-02-17", "sendperson": "柏鑫", "senddt": "1973-02-17" },
{ "code": "200301011002 ", "status": "等待审核", "topart": "CBD购物中心 ", "toperson": "程含芙", "toaddr": "合肥市长江中路365号", "usage": "上料", "remark": "天时不如地利，地利不如人和。（孟子公孙丑）", "reqperson": "勾星瑶", "reqdt": "1976-07-22", "prepperson": "杜翠岚", "prepdt": "1984-01-20", "checkperson": "吕采南", "checkdt": "1993-02-01", "sendperson": "饶忆丹", "senddt": "1993-02-01" },
{ "code": "200301021120 ", "status": "等待确认", "topart": "商业大厦 ", "toperson": "韩德泽", "toaddr": "合肥市金寨路1168号", "usage": "运货", "remark": "富贵不能淫，贫贱不能移，威武不能屈。（孟子滕文公）", "reqperson": "郎佳", "reqdt": "1970-07-28", "prepperson": "杨以云", "prepdt": "1983-03-17", "checkperson": "堵昕燕", "checkdt": "1978-02-01", "sendperson": "宿柯朱", "senddt": "1978-02-01" },
{ "code": "200301021121 ", "status": "正在备货", "topart": "百大乐普生商厦 ", "toperson": "姜慕蕊", "toaddr": "合肥市徽州大道绿都商城B区", "usage": "喷墨", "remark": "锲而不舍，金石可镂。（荀子劝学）", "reqperson": "鲍凌春", "reqdt": "1989-03-20", "prepperson": "肖怜雪", "prepdt": "1979-10-20", "checkperson": "萧传军", "checkdt": "1976-04-27", "sendperson": "顾冰薇", "senddt": "1976-04-27" },
{ "code": "200301031001 ", "case": "200307011001 ", "status": "等待审核", "topart": "合肥鼓楼高新商厦 ", "toperson": "付高爽", "toaddr": "合肥市长江西路689号", "usage": "记录", "remark": "吾生也有涯，而知也无涯。 （庄子养生主）", "reqperson": "伊帅成", "reqdt": "1973-09-07", "prepperson": "全曼云", "prepdt": "1981-11-01", "checkperson": "邓娟", "checkdt": "1985-10-30", "sendperson": "钱振海", "senddt": "1985-10-30" },
{ "code": "200301031003 ", "case": "200307011004 ", "status": "等待备货", "topart": "铜陵合百商厦 ", "toperson": "石又晴", "toaddr": "铜陵市铜官山区长江西路1号", "usage": "幕墙", "remark": "君子之交淡如水，小人之交甘若醴。（庄子）", "reqperson": "卫尔容", "reqdt": "1993-08-16", "prepperson": "元镇国", "prepdt": "1993-11-17", "checkperson": "江智卓", "checkdt": "1985-02-17", "sendperson": "雷亦旋", "senddt": "1985-02-17" },
{ "code": "200302011104 ", "case": "200307011005 ", "status": "正在备货", "topart": "蚌埠百货大楼 ", "toperson": "蓝梦槐", "toaddr": "蚌埠市淮河路482-490号", "usage": "刷漆", "remark": "博学之，审问之，慎思之，明辨之，笃行之。（中庸）", "reqperson": "滕龙", "reqdt": "1990-08-30", "prepperson": "贾灵泉", "prepdt": "1984-03-13", "checkperson": "柏肜瑛", "checkdt": "1974-10-31", "sendperson": "陆易绿", "senddt": "1974-10-31" },
{ "code": "200302011132 ", "case": "200307011006 ", "status": "等待审核", "topart": "黄山百大商厦 ", "toperson": "窦加隆", "toaddr": "黄山市屯溪区新安北路23号", "usage": "上料", "remark": "临渊羡鱼，不如退而结网。（淮南子说林训）", "reqperson": "傅奕冰", "reqdt": "1995-12-28", "prepperson": "巩恒霖", "prepdt": "1980-12-18", "checkperson": "水成日", "checkdt": "1994-10-07", "sendperson": "陈嘉木", "senddt": "1994-10-07" },
{ "code": "200303041052 ", "status": "等待备货", "topart": "亳州百大购物广场 ", "toperson": "盛韩嘉", "toaddr": "亳州市新华北路与古泉路交叉口", "usage": "运货", "remark": "风萧萧兮易水寒，壮士一去兮不复还。（战国策荆轲刺秦王）", "reqperson": "范沛凝", "reqdt": "1976-03-21", "prepperson": "严少", "prepdt": "1978-03-20", "checkperson": "周宏图", "checkdt": "1978-09-24", "sendperson": "周绍元", "senddt": "1978-09-24" },
{ "code": "200303061034 ", "status": "正在备货", "topart": "淮南百大商厦 ", "toperson": "常辰淋", "toaddr": "淮南市田家庵区人民南路318号", "usage": "喷墨", "remark": "桃李不言，下自成蹊。 （史记李将军传）", "reqperson": "顾伟祺", "reqdt": "1989-08-22", "prepperson": "云宇峰", "prepdt": "1994-01-22", "checkperson": "齐痴凝", "checkdt": "1985-04-21", "sendperson": "杜诗蕾", "senddt": "1985-04-21" },
{ "code": "200304011015 ", "status": "等待审核", "topart": "六安百大金商都购物中心 ", "toperson": "舒代巧", "toaddr": "六安市皖西路与梅山路交叉口", "usage": "记录", "remark": "燕雀安知鸿鹄之志哉。 （史记陈涉世家）", "reqperson": "邱雅懿", "reqdt": "1979-12-22", "prepperson": "匡贝", "prepdt": "1989-05-29", "checkperson": "郝紫瞳", "checkdt": "1989-05-29", "sendperson": "罗鸿彩", "senddt": "1989-05-29" },
{ "code": "200304011026 ", "status": "等待发货", "topart": "蚌埠购物中心 ", "toperson": "阳昕燕", "toaddr": "蚌埠市中山街与华盛街交叉口东北角", "usage": "上料", "remark": "运筹帷幄之中，决胜千里之外。（史记高祖本纪）", "reqperson": "覃盼翠", "reqdt": "1973-02-17", "prepperson": "康靖童", "prepdt": "1989-02-21", "checkperson": "云尘", "checkdt": "1989-02-21", "sendperson": "石梦凡", "senddt": "1989-02-21" },
{ "code": "200304011027 ", "case": "200308011026 ", "status": "等待确认", "topart": "巢湖百大购物中心 ", "toperson": "巴以彤", "toaddr": "巢湖市人民路与团结路交叉口", "usage": "运货", "remark": "忠言逆耳利于行，良药苦口利于病。（史记留侯世家）", "reqperson": "高文林", "reqdt": "1993-02-01", "prepperson": "骆慕卉", "prepdt": "1976-07-22", "checkperson": "储艺璇", "checkdt": "1976-07-22", "sendperson": "孙刚毅", "senddt": "1976-07-22" },
{ "code": "200304041042 ", "case": "200308011047 ", "status": "正在备货", "topart": "百大港汇购物中心 ", "toperson": "鲍元柳", "toaddr": "望江路与潜山路交叉口东北角", "usage": "喷墨", "remark": "人固有一死，或重于泰山，或轻于鸿毛。（史记报任少卿书）", "reqperson": "莫寄瑶", "reqdt": "1978-02-01", "prepperson": "俞伟", "prepdt": "1970-07-28", "checkperson": "荣海龙", "checkdt": "1970-07-28", "sendperson": "谢依霜", "senddt": "1970-07-28" },
{ "code": "200304091037 ", "case": "200401011006 ", "status": "正在备货", "topart": "合家福连锁超市(马鞍山路店) ", "toperson": "戈刚林", "toaddr": "马鞍山路与太湖路交叉口", "usage": "记录", "remark": "智者千虑，必有一失；愚者千虑，必有一得。（史记淮阴侯列传）", "reqperson": "付又青", "reqdt": "1976-04-27", "prepperson": "余友易", "prepdt": "1989-03-20", "checkperson": "卜伟成", "checkdt": "1989-03-20", "sendperson": "孟广斌", "senddt": "1989-03-20" },
{ "code": "200304091039 ", "status": "等待审核", "topart": "百大电器(花园街店) ", "toperson": "勾觅丹", "toaddr": "长江中路146号", "usage": "幕墙", "remark": "绳锯木断，水滴石穿。 （汉书枚乘传）", "reqperson": "韦兴庆", "reqdt": "1985-10-30", "prepperson": "吴靖", "prepdt": "1973-09-07", "checkperson": "满玲漪", "checkdt": "1973-09-07", "sendperson": "安悦", "senddt": "1973-09-07" },
{ "code": "200304091049 ", "status": "等待发货", "topart": "蚌埠百大宝龙购物中心 ", "toperson": "苗新华", "toaddr": "蚌埠市宝龙城市广场A区", "usage": "刷漆", "remark": "若要人不知，除非己莫为。（汉枚乘上书谏吴王）", "reqperson": "夏安民", "reqdt": "1985-02-17", "prepperson": "庾依玉", "prepdt": "1993-08-16", "checkperson": "马凌春", "checkdt": "1993-08-16", "sendperson": "鲁白桃", "senddt": "1993-08-16" },
{ "code": "200304091060 ", "status": "等待确认", "topart": "百大滨湖购物中心 ", "toperson": "钱小乐", "toaddr": "徽州大道与紫云路交口", "usage": "运货", "remark": "少壮不努力，老大徒伤悲。（汉乐府长歌行）", "reqperson": "方芷荷", "reqdt": "1974-10-31", "prepperson": "万坤", "prepdt": "1990-08-30", "checkperson": "傅微", "checkdt": "1990-08-30", "sendperson": "平勇", "senddt": "1990-08-30" },
{ "code": "200305011029 ", "case": "200401011015 ", "status": "等待备货", "topart": "肥西百大购物中心 ", "toperson": "师子寒", "toaddr": "巢湖路与派河大道西南交口", "usage": "喷墨", "remark": "疾风知劲草，岁寒见后凋。（后汉书王霸传）", "reqperson": "丁雅昶", "reqdt": "1994-10-07", "prepperson": "程新桐", "prepdt": "1995-12-28", "checkperson": "凌钟吉", "checkdt": "1995-12-28", "sendperson": "荣海龙", "senddt": "1995-12-28" },
{ "code": "200305061048 ", "case": "200401021003 ", "status": "正在备货", "topart": "蚌埠禹会购物中心 ", "toperson": "余涛鸣", "toaddr": "华光大道与长乐路交叉口", "usage": "记录", "remark": "失之东隅，收之桑榆。（后汉书冯异传）", "reqperson": "万力强", "reqdt": "1978-09-24", "prepperson": "敖玲沁", "prepdt": "1976-03-21", "checkperson": "步孜娴", "checkdt": "1976-03-21", "sendperson": "卜伟成", "senddt": "1976-03-21" },
{ "code": "200305071311 ", "case": "200401031001 ", "status": "等待审核", "topart": "百大购物中心马鞍山路店 ", "toperson": "相瑶一", "toaddr": "马鞍山路与太湖路交叉口", "usage": "幕墙", "remark": "精诚所至，金石为开。 （后汉书广陵思王荆传）", "reqperson": "肖惜芹", "reqdt": "1985-04-21", "prepperson": "能丰", "prepdt": "1989-08-22", "checkperson": "侯星嘉", "checkdt": "1989-08-22", "sendperson": "满玲漪", "senddt": "1989-08-22" },
    ];

    matout_rec = [
{ "code": "200210430007 ", "name": "环氧树脂", "type": "760E", "unit": "KG", "Spec": "1KG/袋", "count": "4", "remark": "少壮不努力，老大徒伤悲。（汉乐府长歌行）" },
{ "code": "200301011001 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "KG", "Spec": "3KG/包", "count": "12", "remark": "疾风知劲草，岁寒见后凋。（后汉书王霸传）" },
{ "code": "200301011002 ", "name": "主梁纤维套材", "type": "Si56.82.0MWIV", "unit": "KG", "Spec": "10KG/包", "count": "40", "remark": "失之东隅，收之桑榆。（后汉书冯异传）" },
{ "code": "200301021120 ", "name": "PPR阀门", "type": "DN20", "unit": "KG", "Spec": "50KG/桶", "count": "200", "remark": "精诚所至，金石为开。 （后汉书广陵思王荆传）" },
{ "code": "200301021121 ", "name": "PPR三通", "type": "DN20", "unit": "SET", "Spec": "90SET/盒", "count": "360", "remark": "贫贱之知不可忘，糟糠之妻不下堂。（后汉书宋弘传）" },
{ "code": "200301031001 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "SET", "Spec": "100SET/个", "count": "400", "remark": "志士不饮盗泉之水，廉者不受嗟来之食。（后汉书）" },
{ "code": "200301031003 ", "name": "导流网160g", "type": "W550mmL112m", "unit": "SET", "Spec": "45SET/桶", "count": "180", "remark": "老骥伏枥，志在千里；烈士暮年，壮心不已。（三国曹操龟虽寿）" },
{ "code": "200302011104 ", "name": "导流网160g", "type": "W640mmL112m", "unit": "ROT", "Spec": "80ROT/盒", "count": "320", "remark": "山不厌高，海不厌深；周公吐哺，天下归心。（三国曹操短歌行）" },
{ "code": "200302011132 ", "name": "钢丝螺旋软管", "type": "20*3", "unit": "SET", "Spec": "1SET/卷", "count": "4", "remark": "非学无以广才，非志无以成学。（三国诸葛亮诫子书）" },
{ "code": "200303041052 ", "name": "Ω管", "type": "25/29(4m长)", "unit": "BRA", "Spec": "3BRA/个", "count": "12", "remark": "非淡泊无以明志，非宁静无以致远。（三国诸葛亮诫子书）" },
{ "code": "200303061034 ", "name": "真空膜", "type": "65μW1.5mL170m", "unit": "PC", "Spec": "10PC/卷", "count": "40", "remark": "勿以恶小而为之，勿以善小而不为。（三国刘备）" },
{ "code": "200304011015 ", "name": "真空膜", "type": "65μW1.2mL130m", "unit": "PC", "Spec": "50PC/袋", "count": "200", "remark": "国以民为本，民以食为天。（西晋陈寿三国志）" },
{ "code": "200304011026 ", "name": "真空胶带（密封胶条）", "unit": "M2", "Spec": "90M2/袋", "count": "360", "remark": "盛年不重来，一日难再晨。（东晋陶渊明杂诗）" },
{ "code": "200304011027 ", "name": "多孔膜", "type": "W600mmL220m", "unit": "M2", "Spec": "100M2/包", "count": "400", "remark": "不戚戚于贫贱，不汲汲于富贵。（东晋陶渊明五柳先生传）" },
{ "code": "200304041042 ", "name": "脱模布85g", "type": "W650mmL100m尼龙PA66", "unit": "M", "Spec": "45M/包", "count": "180", "remark": "一年之计在于春，一日之计在于晨。（南朝萧铎" },
{ "code": "200304091037 ", "name": "脱模布85g", "type": "W750mmL100m尼龙PA66", "unit": "M", "Spec": "80M/桶", "count": "320", "remark": "宁为玉碎，不为瓦全。 （北齐书元景安传）" },
{ "code": "200304091039 ", "name": "脱模剂", "unit": "ROT", "Spec": "90ROT/盒", "count": "360", "remark": "当局者迷，旁观者清。 （新唐书元行冲传）" },
{ "code": "200304091049 ", "name": "喷胶3M", "unit": "ROT", "Spec": "100ROT/个", "count": "400", "remark": "疾风知劲草，板荡识诚臣。（唐太宗赠萧禹）" },
{ "code": "200304091060 ", "name": "SINOMA", "type": "56.82.0MW加工费梁", "unit": "M2", "Spec": "45M2/桶", "count": "180", "remark": "海内存知己，天涯若比邻。（唐王勃送杜少府之任蜀川）" },
{ "code": "200305011029 ", "name": "双面胶带", "unit": "M", "Spec": "80M/盒", "count": "320", "remark": "欲穷千里目，更上一层楼。（唐王之涣登鹳雀楼）" },
{ "code": "200305061048 ", "name": "环氧树脂", "type": "760E", "unit": "M2", "Spec": "1M2/卷", "count": "4", "remark": "黄沙百战穿金甲，不破楼兰终不还。（唐王昌龄从军行）" },
{ "code": "200305071311 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "M2", "Spec": "3M2/个", "count": "12", "remark": "清水出芙蓉，天然去雕饰。（唐李白论诗）" },
{ "code": "200306011097 ", "name": "主梁纤维套材Si", "type": "56.82.0MWIV", "unit": "M2", "Spec": "10M2/卷", "count": "40", "remark": "大鹏一日同风起，扶摇直上九万里。（唐李白上李邕）" },
{ "code": "200306031016 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "GA", "Spec": "50GA/袋", "count": "200", "remark": "俱怀逸兴壮思飞，欲上青天揽明月。（唐李白宣州谢饯别校书叔云）" },
{ "code": "200307011001 ", "name": "导流网160g", "type": "W550mmL112m", "unit": "BOT", "Spec": "90BOT/桶", "count": "360", "remark": "仰天大笑出门去，我辈岂是蓬蒿人。（唐李白南陵别儿童入京）" },
{ "code": "200307011004 ", "name": "导流网160g", "type": "W640mmL112m", "unit": "PC", "Spec": "100PC/盒", "count": "400", "remark": "天生我材必有用，千金散尽还复来。（唐李白将进酒）" },
{ "code": "200307011005 ", "name": "真空膜", "type": "65μW1.2mL130m", "unit": "SET", "Spec": "50SET/卷", "count": "200", "remark": "长风破浪会有时，直挂云帆济沧海。（唐李白行路难）" },
{ "code": "200307011006 ", "name": "多孔膜", "type": "W600mmL220m", "unit": "KG", "Spec": "90KG/个", "count": "360", "remark": "兴酣落笔摇五岳，诗成笑傲凌沧海。 （唐李白江上吟）" },
{ "code": "200308011026 ", "name": "脱模布85g", "type": "W650mmL100m尼龙PA66", "unit": "KG", "Spec": "100KG/卷", "count": "400", "remark": "安能摧眉折腰事权贵，使我不得开心颜。（唐李白梦游天姥吟留别）" },
{ "code": "200308011047 ", "name": "脱模布85g", "type": "W750mmL100m尼龙PA66", "unit": "KG", "Spec": "45KG/袋", "count": "180", "remark": "读书破万卷，下笔如有神。（唐杜甫奉赠韦左丞二十二韵）" },
{ "code": "200401011006 ", "name": "SINOMA", "type": "56.82.0MW加工费梁", "unit": "KG", "Spec": "80KG/袋", "count": "320", "remark": "会当凌绝顶，一览众山小。 （唐杜甫望岳）" },
{ "code": "200401011015 ", "name": "双面胶带", "unit": "SET", "Spec": "90SET/包", "count": "360", "remark": "笔落惊风雨，诗成泣鬼神。（唐杜甫寄本十二白二十）" },
{ "code": "200401021003 ", "name": "环氧树脂", "type": "760E", "unit": "SET", "Spec": "100SET/包", "count": "400", "remark": "新松恨不高千尺，恶竹应须斩万竿。（唐杜甫）" },
{ "code": "200401031001 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "SET", "Spec": "45SET/桶", "count": "180", "remark": "尔曹身与名俱灭，不废江河万古流。（唐杜甫戏为六绝句）" },
{ "code": "200401031041 ", "name": "环氧粘接胶Paste", "type": "L135G3", "unit": "ROT", "Spec": "80ROT/盒", "count": "320", "remark": "今夜月明人尽望，不知愁思落谁家。 （唐王建十五夜望月）" },
{ "code": "200401031042 ", "name": "环氧粘接固化剂Paste", "type": "H1340G", "unit": "SET", "Spec": "1SET/袋", "count": "4", "remark": "谁言寸草心，报得三春晖。（唐孟郊游子吟）" },
{ "code": "200401041002 ", "name": "腹板纤维套材Si", "type": "56.82.0MWIV", "unit": "BRA", "Spec": "3BRA/包", "count": "12", "remark": "大凡物不得其平则鸣。 （励志名言 www.lz13.cn）" },
{ "code": "200401041004 ", "name": "腹板泡沫卷材套材SI", "type": "56.8", "unit": "PC", "Spec": "10PC/包", "count": "40", "remark": "蚍蜉撼大树，可笑不自量。（唐韩愈调张籍）" },
{ "code": "200401041007 ", "name": "腹板泡沫套材Si", "type": "56.82.0MWIV", "unit": "PC", "Spec": "50PC/桶", "count": "200", "remark": "业精于勤荒于嬉，行成于思而毁于随。（唐韩愈进学解）" },
{ "code": "200401041009 ", "name": "避雷线镀锡软铜", "type": ">70MM2长65米", "unit": "M2", "Spec": "90M2/盒", "count": "360", "remark": "晴空一鹤排云上，便引诗情到碧霄。（唐刘禹锡秋词）" },
{ "code": "200401041013 ", "name": "56.8腹板连接条", "unit": "M2", "Spec": "100M2/个", "count": "400", "remark": "沉舟侧畔千帆进，病树前头万木春。（唐刘禹锡酬乐天扬州初逢）" },
{ "code": "200402011100 ", "name": "密封硅胶", "unit": "M", "Spec": "50M/桶", "count": "200", "remark": "千淘万漉虽辛苦，吹尽狂沙始到金。 （唐刘禹锡浪淘沙）" },
{ "code": "200402011101 ", "name": "PPR阀门", "type": "DN20", "unit": "M", "Spec": "90M/盒", "count": "360", "remark": "山不在高，有仙则名；水不在深，有龙则灵。（唐刘禹锡陋室铭）" },
{ "code": "200402021001 ", "name": "PPR三通", "type": "DN20", "unit": "ROT", "Spec": "100ROT/卷", "count": "400", "remark": "谈笑有鸿儒，往来无白丁。（唐刘禹锡陋室铭）" },
{ "code": "200402021005 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "ROT", "Spec": "45ROT/个", "count": "180", "remark": "同是天涯沦落人，相逢何必曾相识。（唐白居易琵琶行）" },
{ "code": "200403011001 ", "name": "导流网160g", "type": "W2000mmL100m", "unit": "M2", "Spec": "80M2/卷", "count": "320", "remark": "在天愿作比翼鸟，在地愿为连理枝。（唐白居易长恨歌）" },
{ "code": "200403011019 ", "name": "螺旋管PVC", "type": "10mm*2mm", "unit": "M", "Spec": "100M/袋", "count": "400", "remark": "天长地久有时尽，此恨绵绵无绝期。（唐白居易长恨歌）" },
{ "code": "200403021052 ", "name": "钢丝螺旋软管", "type": "20*3", "unit": "M2", "Spec": "45M2/桶", "count": "180", "remark": "试玉要烧三日满，辨材须待七年期。 （唐白居易放言）" },
{ "code": "200403021056 ", "name": "PVC角", "type": "3*4m", "unit": "M2", "Spec": "80M2/盒", "count": "320", "remark": "曾经沧海难为水，除却巫山不是云。 （唐元稹离思）" },
{ "code": "200403021064 ", "name": "Ω管", "type": "18/21(4m长)", "unit": "M2", "Spec": "1M2/卷", "count": "4", "remark": "年年岁岁花相似，岁岁年年人不同。（唐刘希夷）" },
{ "code": "200403021066 ", "name": "真空膜", "type": "65μW4.57mL130m", "unit": "GA", "Spec": "100GA/个", "count": "400", "remark": "醉卧沙场君莫笑，古来征战几人回！（唐王翰凉州词）" },
{ "code": "200403031001 ", "name": "真空胶带（密封胶条）", "unit": "BOT", "Spec": "45BOT/卷", "count": "180", "remark": "黑发不知勤学早，白首方悔读书迟。 （唐颜真卿）" },
{ "code": "200404011001 ", "name": "多孔膜", "type": "W1300mmL500m", "unit": "PC", "Spec": "1KG/袋", "count": "4", "remark": "采得百花成蜜后，为谁辛苦为谁甜。（唐罗隐蜂）" },
{ "code": "200404011008 ", "name": "脱模布85g", "type": "W150mmL100m尼龙PA66", "unit": "SET", "Spec": "3KG/包", "count": "12", "remark": "十年磨一剑，霜刃未曾试。 （唐贾岛剑客）" },
{ "code": "200704010003 ", "name": "脱模布85g", "type": "W250mmL100m尼龙PA66", "unit": "KG", "Spec": "10KG/包", "count": "40", "remark": "谁知盘中餐，粒粒皆辛苦。（唐李绅悯农）" },
{ "code": "200704010004 ", "name": "脱模剂", "unit": "KG", "Spec": "50KG/桶", "count": "200", "remark": "男儿何不带吴钩，收取关山五十州。（唐李贺南国）" },
{ "code": "200704010008 ", "name": "喷胶3M", "unit": "KG", "Spec": "90SET/盒", "count": "360", "remark": "春蚕到死丝方尽，蜡炬成灰泪始干。（唐李商隐无题）" },
{ "code": "200704010009 ", "name": "AB胶", "unit": "KG", "Spec": "100SET/个", "count": "400", "remark": "少壮不努力，老大徒伤悲。（汉乐府长歌行）" },
{ "code": "200704010010 ", "name": "SINOMA", "type": "56.82.0MW加工费腹板", "unit": "SET", "Spec": "45SET/桶", "count": "180", "remark": "疾风知劲草，岁寒见后凋。（后汉书王霸传）" },
{ "code": "200704010011 ", "name": "环氧手糊树脂", "type": "LR135", "unit": "SET", "Spec": "80ROT/盒", "count": "320", "remark": "失之东隅，收之桑榆。（后汉书冯异传）" },
{ "code": "200704010017 ", "name": "环氧手糊树脂固化剂", "type": "LH135", "unit": "SET", "Spec": "1SET/卷", "count": "4", "remark": "精诚所至，金石为开。 （后汉书广陵思王荆传）" },
{ "code": "200704010018 ", "name": "环氧树脂", "type": "760E", "unit": "ROT", "Spec": "3BRA/个", "count": "12", "remark": "贫贱之知不可忘，糟糠之妻不下堂。（后汉书宋弘传）" },
{ "code": "200704010019 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "SET", "Spec": "10PC/卷", "count": "40", "remark": "志士不饮盗泉之水，廉者不受嗟来之食。（后汉书）" },
{ "code": "200704090002 ", "name": "腹板纤维套材Si", "type": "56.82.0MWIV", "unit": "BRA", "Spec": "50PC/袋", "count": "200", "remark": "老骥伏枥，志在千里；烈士暮年，壮心不已。（三国曹操龟虽寿）" },
{ "code": "200704090003 ", "name": "腹板泡沫卷材套材SI", "type": "56.8", "unit": "PC", "Spec": "90M2/袋", "count": "360", "remark": "山不厌高，海不厌深；周公吐哺，天下归心。（三国曹操短歌行）" },
{ "code": "200704090004 ", "name": "腹板泡沫套材Si", "type": "56.82.0MWIV", "unit": "PC", "Spec": "100M2/包", "count": "400", "remark": "非学无以广才，非志无以成学。（三国诸葛亮诫子书）" },
{ "code": "200704090005 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "M2", "Spec": "45M/包", "count": "180", "remark": "非淡泊无以明志，非宁静无以致远。（三国诸葛亮诫子书）" },
{ "code": "200704090006 ", "name": "导流网160g", "type": "W2000mmL100m", "unit": "M2", "Spec": "80M/桶", "count": "320", "remark": "勿以恶小而为之，勿以善小而不为。（三国刘备）" },
{ "code": "200704090009 ", "name": "螺旋管PVC", "type": "10mm*2mm", "unit": "M", "Spec": "90ROT/盒", "count": "360", "remark": "国以民为本，民以食为天。（西晋陈寿三国志）" },
{ "code": "200704090013 ", "name": "钢丝螺旋软管", "type": "20*3", "unit": "M", "Spec": "100ROT/个", "count": "400", "remark": "盛年不重来，一日难再晨。（东晋陶渊明杂诗）" },
{ "code": "200704090016 ", "name": "PVC角", "type": "3*4m", "unit": "ROT", "Spec": "45M2/桶", "count": "180", "remark": "不戚戚于贫贱，不汲汲于富贵。（东晋陶渊明五柳先生传）" },
{ "code": "200704090017 ", "name": "真空膜", "type": "65μW4.57mL130m", "unit": "ROT", "Spec": "80M/盒", "count": "320", "remark": "一年之计在于春，一日之计在于晨。（南朝萧铎" },
{ "code": "200704090018 ", "name": "真空胶带（密封胶条）", "unit": "M2", "Spec": "1M2/卷", "count": "4", "remark": "宁为玉碎，不为瓦全。 （北齐书元景安传）" },
{ "code": "200704090020 ", "name": "多孔膜", "type": "W1300mmL500m", "unit": "M", "Spec": "3M2/个", "count": "12", "remark": "当局者迷，旁观者清。 （新唐书元行冲传）" },
{ "code": "200801011043 ", "name": "脱模布85g", "type": "W150mmL100m尼龙PA66", "unit": "M2", "Spec": "10M2/卷", "count": "40", "remark": "疾风知劲草，板荡识诚臣。（唐太宗赠萧禹）" },
{ "code": "200801021043 ", "name": "脱模布85g", "type": "W250mmL100m尼龙PA66", "unit": "M2", "Spec": "50GA/袋", "count": "200", "remark": "海内存知己，天涯若比邻。（唐王勃送杜少府之任蜀川）" },
{ "code": "200210430007 ", "name": "环氧树脂", "type": "760E", "unit": "KG", "Spec": "1KG/袋", "count": "4", "remark": "少壮不努力，老大徒伤悲。（汉乐府长歌行）" },
{ "code": "200301011001 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "KG", "Spec": "3KG/包", "count": "12", "remark": "疾风知劲草，岁寒见后凋。（后汉书王霸传）" },
{ "code": "200301011002 ", "name": "主梁纤维套材", "type": "Si56.82.0MWIV", "unit": "KG", "Spec": "10KG/包", "count": "40", "remark": "失之东隅，收之桑榆。（后汉书冯异传）" },
{ "code": "200301021120 ", "name": "PPR阀门", "type": "DN20", "unit": "KG", "Spec": "50KG/桶", "count": "200", "remark": "精诚所至，金石为开。 （后汉书广陵思王荆传）" },
{ "code": "200301021121 ", "name": "PPR三通", "type": "DN20", "unit": "SET", "Spec": "90SET/盒", "count": "360", "remark": "贫贱之知不可忘，糟糠之妻不下堂。（后汉书宋弘传）" },
{ "code": "200301031001 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "SET", "Spec": "100SET/个", "count": "400", "remark": "志士不饮盗泉之水，廉者不受嗟来之食。（后汉书）" },
{ "code": "200301031003 ", "name": "导流网160g", "type": "W550mmL112m", "unit": "SET", "Spec": "45SET/桶", "count": "180", "remark": "老骥伏枥，志在千里；烈士暮年，壮心不已。（三国曹操龟虽寿）" },
{ "code": "200302011104 ", "name": "导流网160g", "type": "W640mmL112m", "unit": "ROT", "Spec": "80ROT/盒", "count": "320", "remark": "山不厌高，海不厌深；周公吐哺，天下归心。（三国曹操短歌行）" },
{ "code": "200302011132 ", "name": "钢丝螺旋软管", "type": "20*3", "unit": "SET", "Spec": "1SET/卷", "count": "4", "remark": "非学无以广才，非志无以成学。（三国诸葛亮诫子书）" },
{ "code": "200303041052 ", "name": "Ω管", "type": "25/29(4m长)", "unit": "BRA", "Spec": "3BRA/个", "count": "12", "remark": "非淡泊无以明志，非宁静无以致远。（三国诸葛亮诫子书）" },
{ "code": "200303061034 ", "name": "真空膜", "type": "65μW1.5mL170m", "unit": "PC", "Spec": "10PC/卷", "count": "40", "remark": "勿以恶小而为之，勿以善小而不为。（三国刘备）" },
{ "code": "200304011015 ", "name": "真空膜", "type": "65μW1.2mL130m", "unit": "PC", "Spec": "50PC/袋", "count": "200", "remark": "国以民为本，民以食为天。（西晋陈寿三国志）" },
{ "code": "200304011026 ", "name": "真空胶带（密封胶条）", "unit": "M2", "Spec": "90M2/袋", "count": "360", "remark": "盛年不重来，一日难再晨。（东晋陶渊明杂诗）" },
{ "code": "200304011027 ", "name": "多孔膜", "type": "W600mmL220m", "unit": "M2", "Spec": "100M2/包", "count": "400", "remark": "不戚戚于贫贱，不汲汲于富贵。（东晋陶渊明五柳先生传）" },
{ "code": "200304041042 ", "name": "脱模布85g", "type": "W650mmL100m尼龙PA66", "unit": "M", "Spec": "45M/包", "count": "180", "remark": "一年之计在于春，一日之计在于晨。（南朝萧铎" },
{ "code": "200304091037 ", "name": "脱模布85g", "type": "W750mmL100m尼龙PA66", "unit": "M", "Spec": "80M/桶", "count": "320", "remark": "宁为玉碎，不为瓦全。 （北齐书元景安传）" },
{ "code": "200304091039 ", "name": "脱模剂", "unit": "ROT", "Spec": "90ROT/盒", "count": "360", "remark": "当局者迷，旁观者清。 （新唐书元行冲传）" },
{ "code": "200304091049 ", "name": "喷胶3M", "unit": "ROT", "Spec": "100ROT/个", "count": "400", "remark": "疾风知劲草，板荡识诚臣。（唐太宗赠萧禹）" },
{ "code": "200304091060 ", "name": "SINOMA", "type": "56.82.0MW加工费梁", "unit": "M2", "Spec": "45M2/桶", "count": "180", "remark": "海内存知己，天涯若比邻。（唐王勃送杜少府之任蜀川）" },
{ "code": "200305011029 ", "name": "双面胶带", "unit": "M", "Spec": "80M/盒", "count": "320", "remark": "欲穷千里目，更上一层楼。（唐王之涣登鹳雀楼）" },
{ "code": "200305061048 ", "name": "环氧树脂", "type": "760E", "unit": "M2", "Spec": "1M2/卷", "count": "4", "remark": "黄沙百战穿金甲，不破楼兰终不还。（唐王昌龄从军行）" },
{ "code": "200305071311 ", "name": "环氧树脂固化剂", "type": "766H慢", "unit": "M2", "Spec": "3M2/个", "count": "12", "remark": "清水出芙蓉，天然去雕饰。（唐李白论诗）" },
{ "code": "200306011097 ", "name": "主梁纤维套材Si", "type": "56.82.0MWIV", "unit": "M2", "Spec": "10M2/卷", "count": "40", "remark": "大鹏一日同风起，扶摇直上九万里。（唐李白上李邕）" },
{ "code": "200306031016 ", "name": "吸胶毡150g", "type": "W120mmL100m", "unit": "GA", "Spec": "50GA/袋", "count": "200", "remark": "俱怀逸兴壮思飞，欲上青天揽明月。（唐李白宣州谢饯别校书叔云）" },
{ "code": "200307011001 ", "name": "导流网160g", "type": "W550mmL112m", "unit": "BOT", "Spec": "90BOT/桶", "count": "360", "remark": "仰天大笑出门去，我辈岂是蓬蒿人。（唐李白南陵别儿童入京）" },
{ "code": "200307011004 ", "name": "导流网160g", "type": "W640mmL112m", "unit": "PC", "Spec": "100PC/盒", "count": "400", "remark": "天生我材必有用，千金散尽还复来。（唐李白将进酒）" },
{ "code": "200307011005 ", "name": "真空膜", "type": "65μW1.2mL130m", "unit": "SET", "Spec": "50SET/卷", "count": "200", "remark": "长风破浪会有时，直挂云帆济沧海。（唐李白行路难）" },
{ "code": "200307011006 ", "name": "多孔膜", "type": "W600mmL220m", "unit": "KG", "Spec": "90KG/个", "count": "360", "remark": "兴酣落笔摇五岳，诗成笑傲凌沧海。 （唐李白江上吟）" },
{ "code": "200308011026 ", "name": "脱模布85g", "type": "W650mmL100m尼龙PA66", "unit": "KG", "Spec": "100KG/卷", "count": "400", "remark": "安能摧眉折腰事权贵，使我不得开心颜。（唐李白梦游天姥吟留别）" },
{ "code": "200308011047 ", "name": "脱模布85g", "type": "W750mmL100m尼龙PA66", "unit": "KG", "Spec": "45KG/袋", "count": "180", "remark": "读书破万卷，下笔如有神。（唐杜甫奉赠韦左丞二十二韵）" },
{ "code": "200401011006 ", "name": "SINOMA", "type": "56.82.0MW加工费梁", "unit": "KG", "Spec": "80KG/袋", "count": "320", "remark": "会当凌绝顶，一览众山小。 （唐杜甫望岳）" },
{ "code": "200401011015 ", "name": "双面胶带", "unit": "SET", "Spec": "90SET/包", "count": "360", "remark": "笔落惊风雨，诗成泣鬼神。（唐杜甫寄本十二白二十）" },
{ "code": "200401021003 ", "name": "环氧树脂", "type": "760E", "unit": "SET", "Spec": "100SET/包", "count": "400", "remark": "新松恨不高千尺，恶竹应须斩万竿。（唐杜甫）" },


    ];

</script>

    <script type="text/javascript">
        var tpl_matout = doT.template(document.getElementById('tpl_matout').innerHTML);
        var x = { m: 0, n: 0, type: "出库单", btnid: "btn_edit", btntext: " 备 货 ", stage: "wait_prep" };
        document.getElementById("wait_prep").innerHTML = tpl_matout(x);
        x = { m: 6, n: 36, type: "出库单", btnid: "btn_check", btntext: " 审 批 ", stage: "wait_check" };
        document.getElementById("wait_check").innerHTML = tpl_matout(x);
        x = { m: 12, n: 72, type: "出库单", btnid: "btn_check", btntext: " 发 货 ", stage: "wait_send" };
        document.getElementById("wait_send").innerHTML = tpl_matout(x);
    </script>

</body>
</html>