<!DOCTYPE html>
<html>
<head>
    <!--user2与user3的区别：将inplace编辑模式改成弹出6编辑窗口式-->
    <meta charset="utf-8">
    <title>啄木鸟风电维保系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script type="text/javascript" src="js/doTe.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="laydate/laydate.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/Cube.js"></script>

    <style>
        .pane_image>div {
            margin: 5px 0px 5px 5px;
            display: inline-flex;
            flex-direction: row;
            align-items: flex-start;
            border: 0px;
        }
        .pane_image>div>label {
            width: 40px;
            text-align: right;
            margin: 5px;
        }
        .pane_image>div>div:first-of-type {
            border-radius: 4px;
            border: 1px solid #dddddd;
            display: inline-block;
            padding: 5px 10px;
            margin: 0px 5px;
            width: 137px;
        }

        /*图片框无图时的背景十字架图片*/
        .ImgBlank {
            position: relative;
            background: url(img/add.png);
            background-size: cover;
        }

        /*dropdown*/
        .drop {
        }
        .dropwnd {
            display: none;
            position: absolute;
            z-index: 9999;
            left: 74px;
            top: 100%;
            width: 100%;
            border: 2px solid #95b7ff;
            border-radius: 4px;
            background: #ffffff;
            box-sizing: content-box;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*为了解决BootStrap中css和layDate的css样式冲突*/
        .laydate_box, .laydate_box * {
            box-sizing: content-box;
        }
        .laydate_box th {
            text-align: center;
        }
    </style>

    <style>/*旧的style，在更新完用户详细信息后将被删除*/
        html, body {
            height: 100%;
            overflow: hidden;
        }
        .d_dtree-scroll {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: scroll;
        }

        .d_panel {
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-color: #e0e4e8;
        }
        .d_panel .heading {
            border-bottom: 1px solid #dddddd;
            padding: 10px 15px;
            color: #656565;
        }
        .d_panel .heading2 {
            border-bottom: 1px solid #dddddd;
            padding: 5px;
        }
        .d_panel .heading2 strong {
            padding-left: 10px;
        }

        .d_data_item {
            margin: 5px 10px;
            display: inline-block;
        }

        .d_data_item label {
            width: 60px;
            text-align:right;
        }
        .d_data_item div {
            border-radius: 4px;
            border: 1px solid #dddddd;
            display:inline-block;
            padding:5px 10px;
            margin:0px 5px;
            width:200px;
        }

        .d_detail {
            margin-right: 2px;
            margin-bottom: 10px;
        }

        .d_table {
            width: 100%;
        }
        .d_table thead > tr > th {
            text-align: center;
            background-color: #f0f0f0;
        }
        .d_table > tbody > tr:nth-child(2n) > td {
            background-color: #f5f5f5;
        }
        .d_table thead > tr > th, .d_table tbody > tr > td{
            padding: 2px 4px;
            vertical-align: top;
        }

        .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
            background-color: #f0f0f5 !important;
        }

        .d_rAngle {
            border-radius: 4px;
            border: 1px solid #dddddd;
            border-color: #e0e4e8;
        }

        .d_dItem {
            margin: 5px 15px;
            display: inline-block;
        }

        .d_dImage {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
            margin-right: 23px;
            display: inline-block;
        }

    </style> 
</head>
<body class="xFCsrow" >
    <section class="xPanel2" style="width:100px"><!--两个子项都固定宽度100，使它们获得相同的增量-->
        <header class="heading">列表<div style="float: right;"><a onClick="onAddUser()">添加</a></div></header>
        <div id="d_table_item" class="xScroll" style="padding:5px;height:100px;flex-grow: 1;">
        </div>
    </section>

    <div class="xPanel2 xScroll" style="width:100px;border:0px;">
        <section class="d_panel d_detail">
            <header class="heading">基本信息<div style="float: right;"><a onClick="onAddUser()">添加</a> <a onClick="onEditUser(this)">编辑</a></div></header>
            <div id="d_baseinf" class="x2Form" style="padding:5px;"></div>
        </section>
        <section id="d_certiflist" class="d_panel d_detail">
            <header class="heading">证件信息<div style="float: right;"><a href="#">编辑</a></div></header>
        </section>
        <section id="d_edulist" class="d_panel d_detail">
            <header class="heading">受教育经历<div style="float: right;"><a href="#">编辑</a></div></header>
        </section>
        <section id="d_employlist" class="d_panel d_detail">
            <header class="heading">就业经历<div style="float: right;"><a href="#">编辑</a></div></header>
        </section>
        <section id="d_opuslist" class="d_panel d_detail">
            <header class="heading">发表作品<div style="float: right;"><a href="#">编辑</a></div></header>
        </section>
    </div>

    <div class="modal fade" id="ModalDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width:900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalDlgTitle">模态框（Modal）标题</h4>
                </div>
                <div id="ModalDlgContent" class="modal-body" style="padding:5px 0px">
                    <div><label>标识</label><input name="id" value="1234"></div>
                    <div><label>所属风场</label><input value="69" /></div>
                    <div><label>名称</label><input value="达尔罕茂明安联合旗风区" /></div>
                    <div><label>备注</label><textarea name="a" style="resize:none;width:500px;max-height:45px;">小重山章良能柳暗花明春事深,小阑红芍药,已抽簪。雨馀风软碎鸣禽,迟迟日,犹带一分阴。往事莫沉吟，身闲时序好、且凳临。旧游无处不堪寻，无寻处、惟有少年心。</textarea></div>
                    <div><label>位置</label><textarea name="a" style="resize:none;width:500px;max-height:45px;">109.790407 40.523169,109.857074 40.523169,109.857074 40.613169,109.790407 40.613169</textarea></div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;"><button type="button" class="btn btn-default" style="color:#aaaaaa">删除</button></div>
                    <button type="button" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script id="tpl_user_pane" type="text/template">
        <div style="height:240px;width:280px;float: left; display:block;">
            <div class="pane_image" style="width: 100%; height: 80px; margin: 0px; padding:0px; display:block;border:0px;">
                <div style="float: left; margin:0px;"><img style="width: 78px; height: 78px;" src="{%=it.face%}" /></div>
                <div style="margin-top:0px;"><label>帐号</label><div style="display:inline-block;">{%=it.account%}</div></div>
                <div><label>密码</label><div>***</div></div>
            </div>
            <img style="width: 280px; height: 160px;" src="{%=it.idimg%}" />
        </div>
    </script>

    <script id="tpl_user_new" type="text/template">
        <div class="x2Form" style="padding: 0px 0px 0px 30px;">
            <div style="float: left; margin:0px;"><img style="width: 100px;height: 180px;" src="img/bird.jpg" /></div>
            <div><label>帐号</label><input /></div>
            <div><label>密码</label><input /></div>
            <div><label>密码</label><input /></div>
        </div>
    </script>

    <script id="tpl_user_form" type="text/template">
        <div style="height:240px;width:280px;float: left; display:block;">
            <div class="pane_image" style="width: 100%; height: 80px; margin: 0px; padding:0px; display:block;border:0px;">
                <div style="float: left; margin:0px;">
                    <label class="ImgBlank" style="display:inline-block;width:78px;margin:0px;" for="SelectFace"> <img id="viewface" style="width: 78px; height: 78px;;z-index: 999;" src="{%=it.face%}"/> </label>
                    <input type="file" id="SelectFace" accept="image/*" style="display:none;" onchange="imgPreview(this,'viewface')">
                </div>
                <div style="margin-top:0px;"><label>帐号</label><div style="display:inline-block;">{%=it.account%}</div></div>
                <div style="position:relative;"><label>密码</label><div class="drop" style="border: 1px solid #95b7ff;"><label style="color:royalblue;margin:0px;">点击修改</label></div>
                <div class="dropwnd" style="left:-6px;width:190px;height:100px;padding:5px;display:none;">
                    <label style="margin-right:5px;">旧密码</label><input style="width:140px;height:20px;">
                    <label style="margin-right:5px;">新密码</label><input style="width:140px;height:20px;">
                    <label style="margin-right:5px;">新密码</label><input style="width:140px;height:20px;">
                    <div style="float:right"><button onclick="HideWnd(this)">确定</button> <button onclick="HideWnd(this)">取消</button></div>
                </div></div>
            </div>
            <label class="ImgBlank" style="display:inline-block;" for="selectidimg"> <img id="viewidimg" style="width: 280px; height: 160px;z-index: 999;" src="{%=it.idimg%}" /> </label>
            <input type="file" id="selectidimg" accept="image/*" style="display:none;" onchange="imgPreview(this,'viewidimg')">
        </div>
    </script>

    <script id="tpl_certiflist" type="text/template">
        <header class="heading">证件信息<div style="float: right;"><a href="#">编辑</a></div></header>
        {% for (var i in it) { %}
        <div style="min-height: 85px;width: 100%; {% if (i%2==0) { %}background: #f5f5f5; {% } %}">
            <div class="d_rAngle d_dImage" style="width: 120px; height: 74px; float: left; margin-right: 5px; ">
                <img style="width: 120px; height: 74px;" src="{%=it[i].img%}" />
            </div>
            <div class="d_data_item"><label>证件名称</label><div>{%=it[i].name%}</div></div>
            <div class="d_data_item"><label>颁发时间</label><div>{%=it[i].issuedate%}</div></div>
            <div class="d_data_item"><label>颁发机构</label><div style="width:404px;">{%=it[i].office%}</div></div>
        </div>
        {% } %}
    </script>

    <script id="tpl_edulist" type="text/template">
        <header class="heading">受教育经历<div style="float: right;"><a href="#">编辑</a></div></header>
        {% for (var i in it) { %}
        <div style="min-height: 85px;width: 100%; {% if (i%2==0) { %}background: #f5f5f5; {% } %}">
            <div class="d_rAngle d_dImage" style="width: 120px; height: 74px; float: left; margin-right: 5px; ">
                <img style="width: 120px; height: 74px;" src="{%=it[i].img1%}" />
            </div>
            <div class="d_rAngle d_dImage" style="width: 120px; height: 74px; float: left; margin-right: 5px; ">
                <img style="width: 120px; height: 74px;" src="{%=it[i].img2%}" />
            </div>
            <div class="d_data_item"><label>开始时间</label><div>{%=it[i].tmstart%}</div></div>
            <div class="d_data_item"><label>截止时间</label><div>{%=it[i].tmend%}</div></div>
            <div class="d_data_item"><label>学历</label><div>{%=it[i].qualif%}</div></div>
            <div class="d_data_item"><label>教育机构</label><div>{%=it[i].edu%}</div></div>
        </div>
        {% } %}
    </script>

    <script id="tpl_employlist" type="text/template">
        <header class="heading">就业经历<div style="float: right;"><a href="#">编辑</a></div></header>
        {% for (var i in it) { %}
        <div style="width: 100%;{% if (i%2==0){ %}background: #f5f5f5; {% } %}">
            <div class="d_rAngle d_dImage" style="width: 120px; height: 74px; float: left; margin-right: 5px; ">
                <img style="width: 120px; height: 74px;" src="{%=it[i].img%}" />
            </div>
            <div class="d_data_item"><label>工作单位</label><div>{%=it[i].workin%}</div></div>
            <div class="d_data_item"><label>岗位</label><div>{%=it[i].pos%}</div></div>
            <div class="d_data_item"><label>开始时间</label><div>{%=it[i].tmstart%}</div></div>
            <div class="d_data_item"><label>结束时间</label><div>{%=it[i].tmend%}</div></div>
        </div>
        {% } %}
    </script>

    <script id="tpl_opuslist" type="text/template">
        <header class="heading">发表作品<div style="float: right;"><a href="#">编辑</a></div></header>
        {% for (var i in it) { %}
        <div style="width: 100%;{% if (i%2==0){ %}background: #f5f5f5; {% } %}">
            <div class="d_rAngle d_dImage" style="width: 120px; height: 74px; float: left; margin-right: 5px; ">
                <a href="{%=it[i].link%}"><img style="width: 120px; height: 74px;" src="{%=it[i].img%}" /></a>
            </div>
            <div class="d_data_item"><label>发表媒体</label><div>{%=it[i].journal%}</div></div>
            <div class="d_data_item"><label>发表时间</label><div>{%=it[i].date%}</div></div>
            <div class="d_data_item"><label>标题</label><div style="width:404px;">{%=it[i].title%}</div></div>
        </div>
        {% } %}
    </script>

    <script type="text/javascript">
        var tpl_certiflist = doT.template(document.getElementById('tpl_certiflist').innerHTML);
        var tpl_edulist = doT.template(document.getElementById('tpl_edulist').innerHTML);
        var tpl_employlist = doT.template(document.getElementById('tpl_employlist').innerHTML);
        var tpl_opuslist = doT.template(document.getElementById('tpl_opuslist').innerHTML);
        var tpl_user_pane = doT.template(document.getElementById('tpl_user_pane').innerHTML);

        var g_cur, g_fields = new Array(), g_ethnic, g_departs, g_user = parent.g_user;
        if (g_user == undefined)
            g_user = GetRoleUser("专家超级帐号");

        if( isInArray(["1", "4", "7"], g_user.job ))
            Reqdata("/rd?ls=" + { "1": "winder", "4": "devwh", "7": "matwh" }[g_user.job], "", function (res) { g_departs = res; });

        Reqdata("/rd?ls=config&type=ethnic", "", function (res) { g_ethnic = res.data; });

        param = (g_user.depart_id == "0") ? "" : ("&depart_id=" + g_user.depart_id);
        Reqdata("/rduser?job=" + GetsubJob(g_user.job, "string") + param, "", function (res) {
            g_users = res;
            if (!isInArray(["1", "4", "7"], g_user.job)) { // 除此三类超级用户外不显示所在单位
                var idx = GetIdx(g_users.fields, "name", "depart_id");
                g_users.fields.splice(idx,1); 
            }
            $("#d_table_item").html(RenderTable2(g_users, undefined, ValToView));

            for (var i in g_users.fields) {
                if (g_users.fields[i].name == "account" || g_users.fields[i].name == "pwd"
                    || g_users.fields[i].name == "face" || g_users.fields[i].name == "idimg")
                    continue;
                if (g_users.fields[i].name == "skill" && g_user.job != "13") // 专家su
                    continue;
                g_fields.push(g_users.fields[i]);
            }
            TableBindClick3(g_users.ls, function (data_id) {
                g_cur = GetSub(g_users.data, "id", data_id);
                var pane = tpl_user_pane(g_cur);
                pane += RenderPane2(g_cur, g_fields, ValToView);
                $("#d_baseinf").html(pane);

                // 以下为虚拟数据
                var idx = rndrange(0, db_addition.length);
                $("#d_certiflist").html(tpl_certiflist(db_addition[idx].certif));
                $("#d_edulist").html(tpl_edulist(db_addition[idx].edu));
                $("#d_employlist").html(tpl_employlist(db_addition[idx].employ));
                $("#d_opuslist").html(tpl_opuslist(db_addition[idx].opus));
            });
        });
        function ValToView(user, field) {
            var name = field.name ? field.name :field;
            if (name == "sex") return GetSub(db_sex, "id", user.sex).name;
            else if (name == "job") return GetSub(db_job, "id", user.job).name;
            else if (name == "depart_id") return GetSub(g_departs.data, "id", user.depart_id).name;
            else return user[name];
        }

        function onAddUser() {
            var tpl_user_new = doT.template(document.getElementById('tpl_user_new').innerHTML);
            var dlg = new cbDlg();
            dlg.title = "新建 用户";
            var newuser = Create(g_users.fields);
            dlg.Add(tpl_user_new(newuser));
            dlg.submit = function () {
                newuser.depart_name = g_user.depart_name;
                var form = new Userform();
                var dlg2 = new cbDlg();
                dlg2.Add(form.render(newuser, g_fields));
                dlg2.css = "width:900px;";
                dlg2.Show();
                $(".drop").on("click", function () { $(this).siblings("div.dropwnd").css("display", "block"); });
                $("#job").on("click", function () { TreeAddChildren($("#job>div").attr("id")); });
                $(".xTree div>img").unbind("click", TreeItemExpand);
                $(".xTree div>span").unbind("click", TreeItemClick);
                $(".xTree div>img").bind("click", TreeItemExpand);
                $(".xTree div>span").bind("click", TreeItemClick);
            }
            dlg.Show();
        }

        function onEditUser() {
            var form = new Userform();
            $("#ModalDlgContent").html(form.render(g_cur, g_fields));
            $(".drop").on("click", function () { $(this).siblings("div.dropwnd").css("display", "block"); });
            $("#job").on("click", function () { TreeAddChildren($("#job>div").attr("id")); });

            $(".xTree div>img").unbind("click", TreeItemExpand);
            $(".xTree div>span").unbind("click", TreeItemClick);
            $(".xTree div>img").bind("click", TreeItemExpand);
            $(".xTree div>span").bind("click", TreeItemClick);

            $("#ModalDlgTitle").html("编辑 用户");
            $('#ModalDlg').modal('show');
        }

        function Userform() {
            // 默认停靠位置和偏移量
            this.defaultAnchor = 0
            this.defaultOffset = 0;
        }

        function imgPreview(fileDom, idimg) {
            var file = fileDom.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {$("#"+idimg).attr("src", e.target.result);};
            reader.readAsDataURL(file);
        }

        // 通过JavaScript的prototype属性继承于BMap.Control
        Userform.prototype = new Object();
        Userform.prototype.render = function (user, fields) {
            var tpl_user_form = doT.template(document.getElementById('tpl_user_form').innerHTML);
            var r = '<div class="x2Form">';
            r += tpl_user_form(user);
            for (var i in fields) {
                var field = fields[i];
                var val = user[field.name];
                if (field.forder == -1 || field.ftype == "none")
                    continue;

                var attr = "";
                if (field.name.indexOf("_") != -1)
                    attr = 'id="' + field.name + "_" + val + '"';

                r += '<div style="position:relative;" ><label>' + field.title + "</label>";
                if (field.ftype == "div") {
                    if (field.name == "depart_id"){
                        attr += ' class="drop" + style="border: 1px solid #95b7ff;"';
                        r += "<div " + attr + ">" + user.depart_name + "</div>" + RenderDepart();
                    }
                    else{
                        r += "<div " + attr + ">" + val + "</div>";
                    }
                }
                else if (field.ftype == "input")
                    r += '<input ' + attr + ' name="' + field.name + '" value="' + val + '"/>';
                else if (field.ftype == "date")
                    r += '<input name="' + field.name + '" value="' + val + '" onClick="laydate()" />';
                else if (field.ftype == "input_long")
                    r += '<input ' + attr + ' style="width:490px;" name="' + field.name + '" value="' + val + '" />';
                else if (field.ftype == "textarea")
                    r += '<textarea ' + attr + ' style="resize:none;width:490px;max-height:45px;" name="' + field.name + '">' + val + '</textarea>';
                else if (field.ftype == "select") {
                    var render = "";
                    if (field.name == "sex")
                        render = RenderSelect(db_sex, val);
                    else if (field.name == "job")
                        render = RenderSelect(GetsubJob(g_user.job, "array"), val);
                    else if (field.name == "ethnic")
                        render = RenderSelect(g_ethnic, val);
                    r += '<select ' + attr + ' name="' + field.name + '">' + render + '</select>';
                }
                r += "</div>";
            }
            r += "</div>";
            return r;
        }

        function RenderDepart() {
            if (g_user.job == "1") {// 风场su
                return '<div class="xTree dropwnd" id="root" >'
            }
            else if (g_user.job == "2" || g_user.job == "3") {// 风场主管、驻场
                return '<div class="xTree dropwnd" style="width:190px;padding:5px;font-size: 12px;"><div id="' + g_user.depart_table + "_" + g_user.depart_id + "\"><span><img src=\""
                    + branch[g_user.depart_table].image + "\">" + g_user.depart.name + "</span></div></div>"
            }

            r += "</div>";
            return r;
        }

        function TreeAddChildren(id) {  // id格式: 表名_{id}
            var at = id.split("_");
            var type = branch.sub(at[0]).type;
            Reqdata("/rd?ls=" + type + (at[1] ? "&" + at[0] + "_id=" + at[1] : ""), "", function (res) {
                var html = "";
                for (var i in res.data) {
                    if (type == "winder") { // 叶节点，少了左边的加号，为缩进对齐加了一层div
                        html += "<div><div id=\"" + type + "_" + data[i].id + "\"><span><img src=\""
                            + branch[type].image + "\">" + data[i].name + "</span></div></div>\n"
                    }
                    else { // 
                        html += "<div id=\"" + type + "_" + data[i].id + "\">"
                            + "<img src=\"img/nolines_plus.gif\"><span><img src=\""
                            + branch[type].image + "\">" + data[i].name + "</span></div>\n"
                    }
                }

                $("#" + id).append(html);
                $("#" + id).children("img").attr("src", "img/nolines_minus.gif"); // 把加号改成减号
                $(".xTree div>img").unbind("click", TreeItemExpand);
                $(".xTree div>span").unbind("click", TreeItemClick);
                $(".xTree div>img").bind("click", TreeItemExpand);
                $(".xTree div>span").bind("click", TreeItemClick);
            });
        }

        function TreeItemExpand() {
            var siblings = $(this).siblings("div");
            if (siblings.length == 0) {
                var id = $(this).parent().attr("id");
                TreeAddChildren(id);
            }
            else if (siblings.css("display") == "none") {
                $(event.srcElement).attr("src", "img/nolines_minus.gif");
                siblings.css("display", "block");
            }
            else {
                $(event.srcElement).attr("src", "img/nolines_plus.gif");
                siblings.css("display", "none");
            }
        }

        function HideWnd(This) {
            $(This).parent().parent().css("display", "none");
        }

        //点击树节点
        function TreeItemClick() {
            //var at = $(this).parent().attr("id").split("_");

            $(this).parent().parent().css("display", "none");
        }

    </script>
</body>
</html>

<!--
input：普通录入
pwd：密码
image：图片
select：所在单位选择，职位选择，领域选择，籍贯（省地市）选择，
input
choice：性别选择，
date：日历，
image-->