<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>啄木鸟风电维保系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="js/doTe.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="laydate/laydate.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/db.js"></script> <!--用到branch-->
    <style>

        /*风电机面板*/
        .xEFanPanel {
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-color: #e0e4e8;
            margin: 5px;
            width: 485px;
            display: inline-block;
        }
        .xEFanPanel header {
            border-bottom: 1px solid #dddddd;
            padding: 5px;
        }
        .xEFanPanel header strong {padding-left: 10px;}
        .xEFanPanel table {width: 100%;}
        .xEFanPanel table>thead> tr > th {
            text-align: center;
            background-color: #f0f0f0;
        }
        .xEFanPanel table>tbody > tr:nth-child(2n) > td {
            background-color: #f5f5f5;
        }
        .xEFanPanel table>thead > tr > th, .d_table tbody > tr > td{
            padding: 2px 4px;
            vertical-align: top;
        }
    </style>
</head>
<body class="xFCsrow">
    <section class="xPanel2 xFIfixed xScroll" style="width: 300px;padding:5px;">
        <div id="root" class="xTree"></div>
    </section>
    <div id="curitem" class="xFCscol" >
        <section class="xPanel2 xFIfixed">
            <header>节点信息<div style="float: right;"><a href="javascript:EditShow()">编辑</a></div></header>
            <div id="item_detail" class="x2Form" style="padding:5px;"></div>
        </section>
        <section class="xPanel2">
            <header>下级列表<div style="float: right;"> <a href="javascript:ImportData()">导入</a> <a href="javascript:AddChild()">添加</a></div></header>
            <div class="xScroll" style="padding: 5px;height:100px;flex-grow: 1;"><div id="subitem_list"></div></div>
        </section>
    </div>

    <div class="modal fade" id="ModalDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width:610px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ModalDlgTitle">模态框（Modal）标题</h4>
                </div>
                <div id="ModalDlgContent" class="modal-body" style="padding:5px 0px">
                    <div><label>标识</label><input name="id" value="1234"></div>
                    <div><label>所属风场</label><input value="69"/></div>
                    <div><label>名称</label><input value="达尔罕茂明安联合旗风区"/></div>
                    <div><label>备注</label><textarea name="a" style="resize:none;width:500px;max-height:45px;">小重山章良能柳暗花明春事深,小阑红芍药,已抽簪。雨馀风软碎鸣禽,迟迟日,犹带一分阴。往事莫沉吟，身闲时序好、且凳临。旧游无处不堪寻，无寻处、惟有少年心。</textarea></div>
                    <div><label>位置</label><textarea name="a" style="resize:none;width:500px;max-height:45px;">109.790407 40.523169,109.857074 40.523169,109.857074 40.613169,109.790407 40.613169</textarea></div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;"><button type="button" class="btn btn-default" style="color:#aaaaaa">删除</button></div>
                    <button type="button" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script id="tpl_efan_list" type="text/template">
        {% for (var i in it.data) { %}
        <div class="xEFanPanel">
            <header>
                <img src="img/diy/3.png" />
                <strong>编号:</strong><span>{%=it.data[i].code%}</span>
                <strong>型号:</strong><span>{%=it.data[i].type%}</span>
                <strong>生产厂家:</strong><span class="efanvender_id">{%=it.data[i].efanvender_id%}</span>
                <div style="float: right;">
                    <a id="{%=it.data[i].id%}" onClick="EditEfan(this)">编辑</a>
                </div>
            </header>
            <table>
                <thead><tr><th>编号</th><th>主要材料</th><th>出厂时间</th><th>挂机时间</th><th>生产厂家</th></tr></thead>
                <tbody>
                    {% for (var j in additlist.data) { %}
                    {% if (additlist.data[j].efan_id==it.data[i].id) { %}
                    <tr>
                        <td>{%=additlist.data[j].code%}</td>
                        <td>{%=additlist.data[j].mat%}</td>
                        <td>{%=additlist.data[j].producedate%}</td>
                        <td>{%=additlist.data[j].putondate%}</td>
                        <td class="leafvender_id">{%=additlist.data[j].leafvender_id%}</td>
                    </tr>
                    {% } %}
                    {% } %}
                </tbody>
            </table>
        </div>
        {% } %}
    </script>

    <script id="tpl_efan_edit2" type="text/template">
        <div class="xEFanForm">
            <form id="form_efan">
                <strong>编号:</strong><input name="code" value="{%=it.code%}" />
                <strong>型号:</strong><input name="type" value="{%=it.type%}" />
                <strong>生产厂家:</strong><select class="efanvender_id" data-id="{%=it.efanvender_id%}" name="efanvender_id" style="margin-right:0px;"></select>
            </form>
            <form id="form_leaf0" /><form id="form_leaf1" /><form id="form_leaf3" />
            <table>
                <thead><tr><th>编号</th><th>主要材料</th><th>出厂时间</th><th>挂机时间</th><th style="width:90px">生产厂家</th></tr></thead>
                <tbody>
                    {% for (var i = 0; i < it.leafs.length; i++) { %}
                    <tr>
                        <td><input form="form_leaf{%=it.leafs[i]%}" name="code" value="{%=it.leafs[i].code%}" /></td>
                        <td><input form="form_leaf{%=it.leafs[i]%}" name="mat" value="{%=it.leafs[i].mat%}" /></td>
                        <td><input form="form_leaf{%=it.leafs[i]%}" name="producedate" value="{%=it.leafs[i].producedate%}" onClick="laydate()"/></td>
                        <td><input form="form_leaf{%=it.leafs[i]%}" name="putondate" value="{%=it.leafs[i].putondate%}" onClick="laydate()"/></td>
                        <td><select form="form_leaf{%=it.leafs[i]%}" class="leafvender_id" name="leafvender_id" data-id="{%=it.leafs[i].leafvender_id%}" ></select></td>
                    </tr>
                    {% } %}
                </tbody>
            </table>
        </div>
    </script>
    <script id="tpl_efan_import" type="text/template">
        <div style="margin: 10px 15px;">
            <div>为{%=it.data[0].name%}批量导入{%=branch.sub(cur.type).name%}</div>
            <div style="margin:5px 0px;">表格请按照模板填写，点此下载模板</div>
            <input type="file" id="upload_efan" name="upload_efan" /><input type="button" value="上传" onclick="uploadFile()" />
            <div style="border:1px solid #dddddd;width:100%;height:15px;"><div id="progress" style="background-color:#0094ff;width:50%;height:100%;"></div></div>
        </div>
    </script>

    <script type="text/javascript">
        var cur = null; // 面板当前显示的元素
        var sublist = null;// 表格当前显示的列表
        var additlist = null; // 表格元素中的子元素列表（叶片列表）

        request2("root");

        // 给出文档节点ID，展开下级列表 id格式：root或winderco_1
        function request2(id) {
            var at = id.split("_");
            var type = branch.sub(at[0]).type;
            Request("/query?type=" + type + (at[1] ? "&"+at[0]+"_id=" + at[1] : ""), function (res) {
                var html = "";
                var data = res.data;
                for (var i in data) {
                    if (type != "winderarea") {
                        html += "<div id=\"" + type + "_" + data[i].id + "\">"
                            + "<img src=\"img/nolines_plus.gif\"><span><img src=\""
                            + branch[type].image + "\">" + data[i].name + "</span></div>\n"
                    }
                    else { // 少了左边的加号，为缩进对齐加了一层div
                        html += "<div><div id=\"" + type + "_" + data[i].id + "\"><span><img src=\""
                            + branch[type].image + "\">" + data[i].name + "</span></div></div>\n"
                    }
                }

                $("#" + id).append(html);
                $("#" + id).children("img").attr("src", "img/nolines_minus.gif");

                $(".xTree div>img").unbind("click", itemexpand);
                $(".xTree div>span").unbind("click", itemclick);
                $(".xTree div>img").bind("click", itemexpand);
                $(".xTree div>span").bind("click", itemclick);
            });
        }

        function itemexpand() {
            var siblings = $(this).siblings("div");
            if (siblings.length == 0) {
                var id = $(this).parent().attr("id");
                request2(id);
            }
            else if (siblings.css("display") == "none") {
                $(event.srcElement).attr("src", "img/nolines_minus.gif");
                siblings.css("display", "block");
            }
            else {
                $(event.srcElement).attr("src", "img/nolines_plus.gif");
                siblings.css("display", "none");
            }
        }
        //点击树节点
        function itemclick() {
            $("#subitem_list").html("");
            var at = $(this).parent().attr("id").split("_");

            // 显示节点详细，这步的查询有优化掉的可能
            Request("/query?type=" + at[0] + "&id=" + at[1], function (d) {
                cur = d;
                $("#item_detail").html(RenderPane(d, 0));
                ID2Name(d, 0);
            });

            // 显示节点下级列表
            var type = branch.sub(at[0]).type;
            Request("/query?type=" + type + "&" + at[0] + "_id=" + at[1], function (d2) {
                sublist = d2;
                if (at[0] != "winderarea") // 普通列表
                    $("#subitem_list").html(RenderTable2(d2, 0));   
                else {                     // 风机列表
                    Request("/query?type=leaf&" + at[0] + "_id=" + at[1], function (d3) {
                        additlist = d3;
                        var tpl_efan_list = doT.template(document.getElementById('tpl_efan_list').innerHTML);
                        $("#subitem_list").html(tpl_efan_list(d2));

                        Request("/query?type=efanvender", function (d4) {
                            var nodes = $(".efanvender_id");
                            for (var i = 0; i < nodes.length; i++)
                                nodes[i].innerHTML = FindSub(d4.data, nodes[i].innerHTML).name;
                            nodes.removeClass("efanvender_id");
                        });
                        Request("/query?type=leafvender", function (d5) {
                            var nodes = $(".leafvender_id");
                            for (var i = 0; i < nodes.length; i++)
                                nodes[i].innerHTML = FindSub(d5.data, nodes[i].innerHTML).name;
                            nodes.removeClass("leafvender_id");
                        });
                    });
                }
            });
        }

        function ImportData() {
            var tpl_efan_list = doT.template(document.getElementById('tpl_efan_import').innerHTML);
            $("#ModalDlgContent").html(tpl_efan_list(cur, 0));
            $("#ModalDlgTitle").html("导入 " + branch.sub(cur.type).name);
            $('#ModalDlg').modal('show');
        }

        function EditShow() {
            $("#ModalDlgContent").html(RenderForm3(cur,0));
            fillselect(cur, 0);
            ID2Name(cur, 0);
            $("#ModalDlgTitle").html("编辑 "+branch[cur.type].name);
            $('#ModalDlg').modal('show');
        }
        function AddChild() {
            sub = branch.sub(cur.type);
            if (sub.type != "efan") {
                var child = { type: sub.type, fields: sublist.fields, data: [Create(sublist.fields)] };
                // 根据对象类型不同，需要设置部分外键
                if (child.type == "winderprov") {
                    child.data[0].winderco_id = cur.data[0].id;
                }
                else if (child.type == "winder") {
                    child.data[0].winderprov_id = cur.data[0].id;
                    child.data[0].winderco_id = cur.data[0].winderco_id;
                }
                else if (child.type == "winderarea") {
                    child.data[0].winder_id = cur.data[0].id;
                }
                else {
                    alert("leaf_su:不能识别的类型");
                }
                $("#ModalDlgContent").html(RenderForm3(child, 0));
                fillselect(child, 0);
                ID2Name(child, 0);
                $("#ModalDlgTitle").html("添加 " + sub.name);
                $('#ModalDlg').modal('show');
            }
            else {
                var efan = Create(sublist.fields);
                efan.winderarea_id = cur.data[0].id;
                efan.winder_id = cur.data[0].winder_id;
                efan.leafs = [Create(additlist.fields), Create(additlist.fields), Create(additlist.fields)];
                $("#ModalDlgTitle").html("添加 " + sub.name);
                RenderEfanForm(efan);
                //fillselect(efan, 0);
                //var nodes = $("#ModalDlgContent select");
                //for (var i = 0; i < nodes.length; i++)
                //    nodes[i].selectedIndex = -1;
                //ID2Name(efan, 0);
            }
        }

        function EditEfan(t) {
            var efan = FindSub(sublist.data, $(t).attr("id"));
            efan.leafs = new Array();
            for (var i in additlist.data) {
                if (additlist.data[i].efan_id == efan.id)
                    efan.leafs.push(additlist.data[i])
            }
            if (efan.leafs.length != 3)
                alert("叶片数量错");
            $("#ModalDlgTitle").html("编辑 " + branch[sublist.type].name);
            RenderEfanForm(efan);
        }

        function RenderEfanForm(efan) {
            var tpl_efan_edit = doT.template(document.getElementById('tpl_efan_edit2').innerHTML);
            $("#ModalDlgContent").html(tpl_efan_edit(efan));
            Request("/query?type=efanvender", function (d4) {
                var nodes = $(".efanvender_id");
                for (var i = 0; i < nodes.length; i++) {
                    var selid = nodes[i].getAttribute("data-id");
                    nodes[i].innerHTML = RenderSelect(d4.data, selid);
                    if ( selid == "" )
                        nodes[i].selectedIndex = -1;
                }
                nodes.removeClass("efanvender_id");
            });
            Request("/query?type=leafvender", function (d5) {
                var nodes = $(".leafvender_id");
                for (var i = 0; i < nodes.length; i++) {
                    var selid = nodes[i].getAttribute("data-id");
                    nodes[i].innerHTML = RenderSelect(d5.data, selid);
                    if (selid == "")
                        nodes[i].selectedIndex = -1;
                }
                nodes.removeClass("leafvender_id");
            });
            $('#ModalDlg').modal('show');
        }

        function uploadFile() {
            var file = $("#upload_efan").get(0).files[0];
            var formData = new FormData();
            formData.append("file", file);
            var req = new XMLHttpRequest();
            req.upload.onprogress = onprogress;
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    alert(req.responseText);
                }
            };
            req.open("POST", "/upload", true);
            req.send(formData);
        }  
        function onprogress(evt) {
            var loaded = evt.loaded;     //已经上传大小情况   
            var tot = evt.total;      //附件总大小   
            var per = Math.floor(100 * loaded / tot);  //已经上传的百分比   
            $("#progress").html(per + "%");
            $("#progress").css("width", per + "%");
        }  

        // 表单验证的几种方法： http://www.jb51.net/article/92741.htm
    </script>
</body>
</html>

