<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/Cube.js"></script>
</head>
<body>
    <div style="display:table-cell">这只是个测试页面。
        {% for writting in writtings %}
        <div style="display:table-row">
            <div style="display:table-cell"><img src="{{user.face}}"/></div>
            <div style="display:table-cell">
                <div><a href="/blog/writting_view?id={{writting.id}}">{{writting.title}}</a></div>
                <div>{{writting.body}}</div>
                <div style="float:right">{{user.name}}发布于{{writting.date}}  </div>
            </div>
        </div>
        {% endfor %}
        <div style="display:table-row">
            <div style="display:table-cell">测试页面</div>
            <div style="display:table-cell">
                <div><a href="">url url url url url</a></div>
                <div>content content content content content content content content content</div>
                <div style="float:right">right right right right</div>
            </div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell">测试页面</div>
            <div style="display:table-cell">
                <div><a href="">url url url url url</a></div>
                <div>content content content content content content content content content</div>
                <div style="float:right">right right right right</div>
            </div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell">测试页面</div>
            <div style="display:table-cell">
                <div><a href="">url url url url url</a></div>
                <div>content content content content content content content content content</div>
                <div style="float:right">right right right right</div>
            </div>
        </div>
    </div>
    <div style="display:table-cell">
            {% for user in users %}
            <div><a href="{{ user.url
}}">{{user.name}}</a></div>
            {% endfor %}
    </div>
    <div style="display:table-cell">这只是个{{type}}测试页面。</div>
</body>
</html>