<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/Cube.js"></script>
	<style>
		.list>div{display:table-row}
		.list>div>div{display:table-cell;vertical-align: top;border-bottom:1px solid black;padding:5px;}
		.list>div>div>img{border-radius: 4px;}
	</style>
</head>
<body>
    <div style="display:table-cell;width:200px;"></div>
    <div class="list" style="display:table-cell">
        {% for x in writtings %}
        <div><div><img width="42px" height="42px" src="{{x.face}}"/></div>
            <div>
                <div><a href="/blog/view_doc?id={{x.id}}">{{x.title}}</a></div>
                <div>{{x.body}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="display:table-cell;width:200px;"></div>
</body>
</html>