<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
	<link rel="stylesheet" href="css/cube.css" />
    <script src="js/Cube.js"></script>
	<style>
		.list>div{display:table-row}
		.list>div>div{display:table-cell;vertical-align: top;border-bottom:1px solid black;padding:5px;}
		.list>div>div>img{border-radius: 4px;}
	</style>
</head>
<body class="xScroll">
	{% import 'macros.html' as macros %}
    <div style="display:table-cell;width:200px;"></div>
    <div style="display:table-cell">
		<div class="list">
			{% for x in writings %}
			<div><div><img width="42px" height="42px" src="{{x.face}}"/></div>
				<div>
					<div><a href="/blog/view_writing?id={{x.id}}">{{x.title}}</a></div>
					<div>{{x.body|safe}}</div>
					<div style="float:right"><a href="/blog/view_user?id={{x.user_id}}">{{x.name}}</a>发布于{{x.date}}  </div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div>{{macros.render_pagnition(pgn)}}</div>
    </div>
    <div style="display:table-cell;width:200px;"></div>
</body>
</html>