<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>浏览博文</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script charset="utf-8" src="kindedit/kindeditor-all.js"></script>
    <script charset="utf-8" src="kindedit/lang/zh-CN.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <link rel="stylesheet" href="css/cube.css" />
    <script src="js/Cube.js"></script>
    <script src="js/blog.js"></script>
	<style>
		.user>*{text-align:center;margin:5px;}
		.praise{text-align:center;margin:15px;}
		.praise>div{display:inline-block;margin:15px;border:1px solid #e0e4e8;border-radius: 2px;padding:10px 20px;}
		.list>div{display:table-row}
		.list>div>div{display:table-cell;vertical-align: top;padding:5px;}
		.list>div>div>img{border-radius: 4px;}
	</style>
  
</head>
<body class="xScroll">
	{% import 'macros.html' as macros %}
    <div style="width:300px;display:table-cell">
		{{macros.render_user(user,me)}}
        <section class="xPanel2">
            <header>最新<div style="float: right;"><a href="view_user?id={{user.id}}">更多</a></div></header>
            <div>
				{% for x in recents %}
				<a href="/blog/view_writing?id={{x.id}}">{{x.title}}</a><br>
				{% endfor %}
			</div>
        </section>
    </div>
    <section class="xPanel2" style="display:table-cell">
        <header>正文</header>
		<div>
			<div id="writing" data_id="{{writing.id}}">
				<div>发表于：{{writing.date}} </div>
				<h2>{{writing.title}}</h2>
				<div style="margin:10px 0">标签：{{writing.label}} <div style="float:right">阅读({{au.read}}) 评论({{au.replay}})</div></div>
				<div>{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}</div>
				<div>{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}</div>
				<div>{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}{{writing.body}}</div>
				<div>
					<div class="praise">
						<div {% if au.me == 1 %} class="me" {% endif %} onclick="f_praise({{writing.id}},1)"><img src="kindedit\plugins\emoticons\images\79.gif"><div>{{au.praise}}</div></div>
						<div {% if au.me == -1 %} class="me" {% endif %} onclick="f_praise({{writing.id}},-1)"><img src="kindedit\plugins\emoticons\images\80.gif"><div>{{au.blame}}</div></div>
					</div>
				</div>
			</div>
			<div>发表评论：
				{% if me.is_anonymous == False %}
				<div style="float:right;padding:5px;"><input onclick="f_replay({{writing.id}})" type="button" value="发表"></div>
				<textarea id="kereplay" style="width:100%"></textarea>
				{% else %}
				<div style="text-align:center;margin-bottom:15px;"><a href="login.html">登录</a>或<a href="login.html">注册</a>以发表评论</div>
				{% endif %}
			</div>
			<div class="list" style="border-bottom:0">
				{% for x in replays %}
				<div><div><img width="42px" height="42px" src="{{x.face}}"/></div>
					<div>
						<div><a href="view_user?id={{x.user_id}}">{{x.name}}</a><div style="float:right">{{x.date}}</div></div>
						<div>{{x.body|safe}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div>{{macros.render_pagnition(pgn)}}</div>
		</div>
    </section>

    <script type="text/javascript">
		//KindEditor脚本
		var kereplay;
		KindEditor.ready(function (K) {
			kereplay = K.create('#kereplay', { uploadJson: '/cr', items:[ 'selectall', 'cut', 'copy', 'paste','undo', 'redo', '|',
				'formatblock', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough',
				'lineheight', 'removeformat', '|',  'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 
				'insertunorderedlist', 'indent', 'outdent', '|', 'link', 'unlink', '|', 'fullscreen',]});
		});

    </script>

</body>
</html>