<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>浏览博文</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/Cube.js"></script>
</head>
<body class="xFCsrow xScroll">
    <div class="xFIfixed" style="width:300px;">
        <section class="xPanel2">
            <header>个人资料</header>
            <div>
                <img src="{{user.face}}" />
                <div>{{user.name}}</div>
            </div>
        </section>
        <section class="xPanel2">
            <header>最新<div style="float: right;"><a href="javascript:EditChild()">更多</a></div></header>
            <div style="padding: 5px;height:100px;flex-grow: 1;"></div>
        </section>
    </div>
    <section class="xPanel2">
        <header>正文</header>
		<div>
			<div>
				<h2>{{writting.title}}</h2>
				<div>标签：{{writting.label}}</div>
				<div>居左{{writting.date}} 居右阅读({{writting.readingcount}}) 评论({{writting.replaycount}})</div>
				<div>{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}</div>
				<div>{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}</div>
				<div>{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}{{writting.body}}</div>
				<div>
					<ins class="kandyDiggLog"><span class="diggUp">顶: <ins data-digg="10273">0</ins></span><span class="diggDn">踩: <ins data-digg="10273">0</ins></span></ins>
				</div>
			</div>
			<div>
				评论专区
			</div>
			<div>参照
				{% for x in replays %}
				<div><div style="display:table-cell"><img width="42px" height="42px" src="{{x.face}}"/></div>
					<div style="display:table-cell">
						<div>{{x.name}}<div style="float:right">{{x.date}}</div></div>
						<div>{{x.body}}<a href="/blog/view_writing?id={{x.id}}">回复</a></div>
					</div>
				</div>
				{% endfor %}
			</div>
		<div>
    </section>
</body>
</html>