<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/db.js"></script>
    <link rel="stylesheet" href="css/xpecker.css" />
    <script src="js/xpecker.js"></script>
    <script src="js/Cube.js"></script>
	<style>
		.list>div{display:table-row}
		.list>div>div{display:table-cell;vertical-align: top;border-bottom:1px solid black;padding:5px;}
		.list>div>div>img{border-radius: 4px;}
	</style>
</head>
<body>
    <div style="display:table-cell;width:300px;">
        <section class="xPanel2">
            <header>个人资料</header>
            <div id="item_detail" class="x2Form" style="padding:5px;"></div>
        </section>
        <section class="xPanel2">
            <header>博主最新文章<div style="float: right;"> <a href="javascript:ImportData()">导入</a> <a href="javascript:AddChild()">新建</a> <a href="javascript:EditChild()">编辑</a></div></header>
            <div class="xScroll" style="padding: 5px;height:100px;flex-grow: 1;"><div id="subitem_list"></div></div>
        </section>
    </div>
    <section style="display:table-cell;">
        <header>正文</header>
        <div id="xTree" class="xTree xScroll" style="padding: 5px;height:100px;flex-grow: 1;"></div>
    </section>
</body>
</html>